{% extends 'account/edit/base.html' %}

{% block account_edit_title %}Статус, подпись, о себе{% endblock %}

{% block account_edit_form %}

    <div class="card mb-3">

        <div class="card-body">

            <div class="mb-3">
                <label for="status">Статус</label>
                <textarea class="form-control" id="status" rows="2">{{ user.info.status }}</textarea>
            </div>

            <div class="mb-3">
                <label for="about">О себе</label>
                <textarea class="form-control" id="about" rows="7">{{ user.info.about }}</textarea>
            </div>

            <div class="mb-3">
                <label for="signature">Подпись под Вашими ответами</label>
                <textarea class="form-control" id="signature" rows="2">{{ user.info.signature }}</textarea>
            </div>

        </div>

    </div>

{% endblock %}