{% extends 'account/edit/base.html' %}
{% load cropping %}
{% load bootstrap4 %}

{% block account_edit_title %}Дополнительно{% endblock %}

{% block account_edit_form %}
    <div class="row">
        <div class="col mb-3">
            <div class="container">
                <div class="row">
                    {{ form.media }}
                    {% bootstrap_javascript jquery=True %}
                    <div class="col-md-9 ml-auto">
                        {% bootstrap_formset_errors form %}
                        {% bootstrap_messages %}
                    </div>
                </div>
                {% bootstrap_formset form layout='horizontal' %}
            </div>
        </div>
    </div>
{% endblock %}