{% extends 'front/base.html' %}
{% block content %}
{% load bootstrap4 %}

    <div class="container mt-3 mb-5">

        <div class="row">
            <h1 class="h2 my-4">Редактировать профиль</h1>
            <nav class="col-12 nav nav-pills mb-5">
                {% with request.get_full_path as curl %}
                    {% url 'personal:edit_regdata' as regdata_url %}
                    <a href="{{ regdata_url }}"
                       class="nav-link{% if regdata_url in curl %} active{% endif %}">Основное</a>

                    {% url 'personal:edit' as  pe_url %}
                    <a href="{{ pe_url }}" class="nav-link{% if pe_url in curl %} active{% endif %}">Дополнительное</a>

                    {% url 'personal:edit_contact' as contact_url %}
                    <a href="{{ contact_url }}"
                       class="nav-link{% if contact_url in curl %} active{% endif %}">Контакты</a>

                    {% url 'personal:edit_education' as edu_url %}
                    <a href="{{ edu_url }}" class="nav-link{% if edu_url in curl %} active{% endif %}">Образование</a>

                    {% url 'personal:edit_experience' as exp_url %}
                    <a href="{{ exp_url }}" class="nav-link{% if exp_url in curl %} active{% endif %}">Опыт</a>
                {% endwith %}
            </nav>
        </div>

        <div class="row">

            <div class="col-md-9">
                <form action="" method="post" class="needs-validation">

                    {% csrf_token %}

                    {% block account_edit_form %}{% endblock %}

                    <div class="col-md-9 ml-auto">
                        <button type="submit" class="btn btn-primary">Сохранить данные</button>
                    </div>

                </form>
            </div>

        </div>
    </div>

{% endblock %}