{% extends 'account/edit/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block account_edit_title %}Образование{% endblock %}

{% block account_edit_form %}
    <div class="row">
        <div class="col mb-3">
            <div class="container">
                <div class="row">
                    <div class="text-muted">
                        <p>Чтобы добавить учебное заведение, заполните необходимые поля; приложите файл с копией диплома, при
                            необходимости; нажмите кнопку «Сохранить данные».</p>
                        <p>Добавляйте несколько учебных заведений последовательно по-одному.</p>
                        <p>Чтобы удалить учебное заведение установите галочку «Удалить», чтобы удалить файл диплома
                           установите галочку «Очистить» около имени файла и нажмите «Сохранить данные».</p>
                    </div>
                    {{ form.media }}
                    {% bootstrap_javascript jquery=True %}
                    <div class="col-md-9 ml-auto">
                        {% bootstrap_formset_errors form %}
                        {% bootstrap_messages %}
                    </div>
                </div>
                {% bootstrap_formset form layout='horizontal' %}
            </div>
        </div>
    </div>
{% endblock %}