{% extends 'account/edit/base.html' %}
{% load bootstrap4 %}

{% block account_edit_title %}Статус, подпись, о себе{% endblock %}

{% block account_edit_form %}
    <div class="row">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {{ form.media }}
        {% bootstrap_javascript jquery=True %}
        <div class="col mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ml-auto">
                        {#% bootstrap_form_errors form %#}
                        {% bootstrap_messages %}
                    </div>
                </div>
                {% bootstrap_form form layout='horizontal' %}
            </div>
        </div>
    </div>
{% endblock %}