{% extends 'front/base.html' %}

{% block title %}Ошибка 404 — эта страница не существует{% endblock %}

{% block content %}

    <div class="container pt-5" style="min-height: 80vh;">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-5 mb-4">Ошибка 404</h1>
            </div>
            <div class="col-md-8">
                <h5 class="mb-3">Страница не найдена</h5>
                <p>К сожалению, запрошенная вами страница не найдена. Если вы считаете, что странца отсутствует по нашей
                    вине, <a href="mailto:support@мойюрист.онлайн">напишите нам</a>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}