{% extends 'front/base.html' %}

{% block title %}Ошибка 404 — эта страница не существует{% endblock %}

{% block content %}

    <div class="container pt-5" style="min-height: 80vh;">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-5 mb-4">500</h1>
            </div>
            <div class="col-md-8">
                <h5 class="mb-3">Ошибка сервера</h5>
                <p>На сервере произошла неприпредвиденная ошибка. Пожалуйста подождите, она скоро будет исправлена.</p>
                <p>Вернитесь на <a href="{% url 'mainpage' %}">главную страницу</a>,
                    <a href="{% url 'ask_question' %}">задайте вопрос юристу</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}