<!doctype html>
<html lang="ru">

<head>
    <title>Регистрация на сайте SVEM</title>
</head>

<body>
<p>
    Вы (или кто-то другой за вас) запросили активацию учетной записи на сайте SVEM.
    Если это были не вы - просто игнорируйте письмо, и ваш электронный адрес будет удален из системы через некоторое время.

</p>
<p>
   Чтобы активировать эту учетную запись, пожалуйста, перейдите по ссылке:
</p>

<p>
    <a href="{{ protocol }}://{{ site }}/auth/activate/{{hash}}">
        {{ protocol }}://{{ site }}/auth/activate/{{hash}}
    </a>
</p>
<p>Спасибо, что используете наш сайт!<br/>
    С уважением, команда сайта SVEM</p>
</body>
</html>