<!doctype html>
<html lang="ru">

<head>
    <title>Восстановление доступа к аккаунту на сайте SVEM</title>
</head>

<body>

<p>Приветсвуем вас, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}.</p>

<p>Вы получили это письмо, потому что вы (или кто-то другой)
    запросил восстановление доступа  для учетной записи пользователя на SVEM</p>


<p>Чтобы сбросить пароль, пожалуйста, перейдите по следующей ссылке:</p>


<p>
    <a href="{{ protocol }}://{{ site }}/auth/reset/{{hash}}">{{ protocol }}://{{ site }}/auth/reset/{{hash}}</a>
</p>


<p>Если вы не хотите менять пароль своей учетной записи, просто проигнорируйте это письмо.</p>

<p>Спасибо, что используете наш сайт!<br/>
    С уважением, команда сайта SVEM</p>

</body>
</html>
