cffi==1.11.2
Django==2.0.2
pytz==2018.3
six==1.11.0
django-environ==0.4.4

# mptt — организация древовидных структур
django-mptt
django-mptt-admin

# Python markdown parser library
# misaka==2.1.0

# Mysql driver
mysqlclient==1.3.12

django-js-asset==1.0.0

# Select2
django-easy-select2==1.3.4
django-select2==6.0.0

# Обработка фото, аватор
Pillow==5.0
easy-thumbnails==2.5
django-image-cropping==1.1.0

requests==2.18.4

# Геолокация, города
# git+git://github.com/pyvim/django-vk-cities.git
# sxgeo
git+git://github.com/idlesign/pysyge.git

# DB mailer
git+git://github.com/protasovse/django-db-mailer.git

# Markdown рендеринг
# mistune==0.8.3

# Телефонные номера
django-phonenumber-field==2.0.0