cffi==1.11.2
Django==2.0.2
pytz==2018.3
six==1.11.0
django-environ==0.4.4

# mptt — организация древовидных структур
django-mptt
django-mptt-admin

# Mysql driver
mysqlclient==1.3.12
# mysql
git+git://github.com/adamchainz/django-mysql.git

django-js-asset==1.0.0

# Select2
django-easy-select2==1.3.4
django-select2==6.0.0

# Обработка фото, аватор
Pillow==5.0
easy-thumbnails==2.5
django-image-cropping==1.1.0

requests==2.18.4

# Геолокация, города
# sxgeo
git+git://github.com/idlesign/pysyge.git

# DB mailer
git+git://github.com/protasovse/django-db-mailer.git

# Markdown рендеринг
misaka==2.1.0

# Телефонные номера
django-phonenumber-field==2.0.0

git+git://github.com/jazzband/django-debug-toolbar.git

# Поиск
# django_sphinxsearch==2.1.0
# django-haystack==2.8.0
# pysolr==3.7.0

# Поле временной зоны
django-timezone-field==2.1

# Морфология
pymorphy2==0.8
pymorphy2-dicts-ru