//===========================  mask shild=============================//
@mixin photo-mask($width_mask:300px, $height_mask:360px, $color_mask: "2e67fb", $color_mask2: "ffffff") {
    display: block;
    position: relative;
    width: $width_mask;
    min-width: $width_mask;
    max-width: $width_mask;
    height: $height_mask;
    z-index: 0;
    overflow: hidden;
    &:after {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0A  viewBox='0 0 300 360' style='enable-background:new 0 0 300 360;' xml:space='preserve'%3E%0A%3Cstyle type='text/css'%3E%0A  .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23#{$color_mask};%7D%0A  .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23#{$color_mask2};%7D%0A%3C/style%3E%0A%3Cg%3E%0A  %3Cpath class='st0' d='M0,230.4V359h150c-19.4-3.6-38.8-10-59-20C43.6,315.7,0,276.1,0,230.4z'/%3E%0A %3Cpath class='st0' d='M150,359h150V230.4c0,45.8-43,85.3-90.6,108.6C189.4,348.8,169.1,355.5,150,359z'/%3E%0A%3C/g%3E%0A%3Cpath class='st1' d='M150,358c-18.9-3.5-39.2-9.4-59-19H0v21h300v-21h-90.6C189.6,348.6,168.9,354.5,150,358z'/%3E%0A%3C/svg%3E");
        background-size: 100%;
        background-position: 0 100%;
        background-repeat: no-repeat;

        content: '';
        display: block;
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
    }
    img {
        position: absolute;
        left:0; top:0; right:0; bottom:0;
        height: 100%;
    }
}