{% extends 'front/base.html' %}
{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h1 class="h2">О&nbsp;проекте. Регламент.</h1>

                <div class="lead">
                    <p>Мойюрист.онлайн&nbsp;— это проект бесплатной и платной юридической консультации онлайн.
                        «Мойюрист.онлайн» объединяет профессиональных Юристов и&nbsp;тех, кому нужен грамотный
                        юридический совет.</p>
                    <p>Проект «Мойюрист.онлайн» позволяет каждому человеку получить <a href="{% url 'ask_question' %}">
                        грамотный совет юриста</a> в&nbsp;любой жизненной ситуации. На&nbsp;<a
                            href="{% url 'questions:list' %}">вопросы</a> наших посетителей отвечают
                        профессиональные
                        юристы. Специалисты, которые не&nbsp;только дают бесплатные консультации, но&nbsp;и&nbsp;занимаются
                        обширной юридической практикой.</p>
                    <p>Проект «Мойюрист.онлайн» открывает дополнительные возможности для профессиональных юристов.
                        «Мойюрист.онлайн»&nbsp;— это дополнительная практика, возможность обрести новых клиентов
                        и&nbsp;известность.</p>
                </div>

                <hr>

                <h2 class="h3">1. Гражданам</h2>

                <h3 class="h4">1.1. Бесплатная юридическая консультация. Вопрос.</h3>
                <p>1.1.1. С помощью проекта «Мойюрист.онлайн» каждый посетитель
                    может получить бесплатную консультацию юриста. Для этого достаточно заполнить форму и&nbsp;отправить
                    вопрос нашим специалистам.</p>
                <p>1.1.2. Если вы&nbsp;укажете свой электронный ящик, то&nbsp;получите на&nbsp;него уведомление
                    об ответе. Ваш емэйл не публикуется на сайте не при каких обстоятельствах, если он введен в
                    положенном для него поле.</p>
                <p>1.1.3. Если вы&nbsp;укажете свой контактный телефон (если это требуется), то можете получать
                    на него звонки с предложениями от юристов, о бесплатных и платных консультациях, и платном
                    оказании услуг. Контактный телефон не публикуется на сайте для общего доступа.</p>
                <p>1.1.4. Заголовок, текст вопроса, имя и город могут быть опубликованы на сайте.</p>
                <p>1.1.5. Вопрос будет опубликован, в том случае, если на него поступит ответ.</p>
                <p>1.1.6. На&nbsp;ваши вопросы отвечают Юристы бесплатной юридической консультации «Мойюрист.онлайн».
                    Ответ может поступить в течение 7 дней. Если по истечении этого срока ответ не получен, то вопрос
                    больше не рассматривается Юристами.</p>
                <p>1.1.7. Для того, чтобы повысить вероятность получения ответа на Ваш вопрос, следует
                    придерживаться следующих рекомендаций:</p>
                <ul>
                    <li>Четко сформулировать вопрос и достаточно подробно изложить обстоятельства, имеющие
                        отношение к делу.
                    </li>
                    <li>Правильно выбрать рубрику и ключевые слова.</li>
                </ul>
                <p>1.1.8. Администрация проекта не берет на себе ответственности за последствия размещения в
                    заголовке и тексте вопроса имен, паспортных данных, названий организаций и другой
                    конфиденциальной информации. Во избежании проблем, следует придерживаться следующих
                    рекомендаций:</p>
                <ul>
                    <li>Не указывать в тексте письма конфиденциальную информацию, телефоны, электронные адреса и
                        другие контактные данные.
                    </li>
                    <li>Телефоны и электронный адрес, следует указывать в предназначенных для этого полях
                        ввода.
                    </li>
                    <li>Имя можно изменить на выдуманное.</li>
                </ul>
                <p>1.1.9. После заполнения формы вопрос и нажатия конпки «Отправить вопрос» вопрос становится
                    доступым для ответов Экспертам, и получает уникальный номер, который следует заполнить. </p>
                <p>1.1.10. После ответа Эксперта, в случае необходимости, можно уточнить вопрос, задав
                    дополнительный (ссылку смотри на сранице вопроса).</p>
                <h2 class="h3">2. Юристам</h2>
                <h3 class="h4">2.1. Общие положения</h3>
                <p>2.1.1. Проект «Мойюрист.онлайн»&nbsp;— это дополнительная
                    практика, возможность обрести новых клиентов, известность показать свои знания. умения и
                    компетентность. Юридический портал «Мойюрист.онлайн» приглашает
                    Вас присоединиться к коллегам-юристам для того, чтобы углубить свои профессиональные знания
                    и расширить практическую деятельность.</p>
                <p>2.1.2. Участие в проекте это:</p>
                <ul>
                    <li><strong>Возможность оказывать реальную помощь людям</strong>, нуждающимся в экстренной
                        юридической консультации, отвечая на их вопросы.
                    </li>
                    <li><strong>Найти новых клиентов.</strong> Регистрация даст Вам возможность отвечать на
                        вопросы потенциальных клиентов.
                    </li>
                    <li><strong>Опыт.</strong> Регистрация на сайте «Мойюрист.онлайн» разрешает участвовать в дискуссиях
                        с
                        коллегами-юристами, обсуждать наиболее актуальные вопросы законодательства, выставлять
                        на сайте свои статьи и разработки по различным темам. Вы не только узнаете много нового
                        из опыта других специалистов, но и сможете проявить себя, сделать свое имя знаменитым.
                    </li>
                </ul>
                <h3 class="h4">2.2. Регистрация</h3>
                <p>2.2.1. Зарегистрироваться в проекте может любое дееспособное лицо, имеющее законченное или
                    нет юридическое образование. Регистрация заключается в заполнении <a
                            href="/auth/registration/">регистрационной формы</a> и активации аккаунта
                    (информации об активации приходит на электронный ящик, указанный при регистрации).</p>
                <p>2.2.2. Зарегистрированный пользователь получает доступ к личному Кабинету и может пользоваться
                    следующими инструментами:
                </p>
                <ul>
                    <li>Возможность заполнить Вашу анкету (личная информация, резюме, фотографию) и получить
                        личную страницу с этими данными;</li>
                    <li>просматривать вопросы, создавать фильтры и подписываться на новые вопросы;</li>
                    <li>пользоваться внутренней почтой;</li>
                    <li>общаться на форуме;</li>
                    <li>добавлять материал, в виде статей, к публикации на сайте.</li>
                </ul>
                <p>2.2.3. Зарегистрированный пользователь несёт персональную ответственность за достоверность
                    представленной при регистрации информации и самостоятельно отвечает на претензии третьих лиц
                    по поводу достоверности любой, размещённой информации на страницах сайта.</p>
                <p>2.2.4. Возможность отвечать на вопросы, предоставляется только после проверки личных данных
                    администратором сайта. Для ускорения процесса можно уведомить администратора сайта по
                    <noindex><a href="mailto:protasovse@gmail.com" rel="nofollow">protasovse@gmail.com</a></noindex>.
                </p>
                <p>2.2.5. Зарегистрированный на сайте Юрист имеет следующие преимущества:</p>
                <ul>
                    <li>Возможность отвечать на вопросы.</li>
                    <li>Участие в рейтинге юристов.</li>
                    <li>Размещение ссылок на сайте и публичный доступ к своей личной странице.</li>
                </ul>
                <p>2.2.6. <strong>Личная страница Юриста. </strong>На личной странице допускается размещение
                    любой рекламной и контактной информации. Так же на личной странице размещаются прямые ссылки
                    на сайт. Ссылки на личную страницу публикуются после каждого ответа эксперта, в рейтинге и
                    рекламных блоках.</p>
                <h3 class="h4">2.3. Ответы на вопросы</h3>
                <p>2.3.1. Отвечая на вопросы бесплатной консультации, Юрист должен придерживаться следующих
                    рекомендаций:</p>
                <ul>
                    <li>Давать объемные (существенные) консультации;</li>
                    <li>учитывать и предотвращать возможный вред, который может быть нанесен неверной,
                        формальной либо необдуманной консультацией;
                    </li>
                    <li>не публиковать односложные ответы, для поднятия собственного рейтинга;</li>
                    <li>не публиковать вместо ответов — рекламные материалы о себе и своей практике.</li>
                </ul>
                <p>2.3.2. Зарегистрированные юристы, которые не придерживаются данных рекомендаций, могут быть
                    лишены возможности отвечать на вопросы, а так же исключены из рейтинга.</p>
                <p>2.3.3. Каждый ответ Юриста сопровождается ссылкой на личную страницу и фотографией, если она
                    добавлена.</p>
                <!--p>2.3.3. <strong>Фильтры вопросов и рассылка.</strong> Зарегистрированный пользователь может
                    создать и настроить один или несколько фильтров и получать рассылку вопросов,
                    удовлетворяющих фильтру на почтовый ящик. Создавая фильтр, можно указать в нем ключевые
                    слова, одну несколько рубрик правового рубрикатора, а так же регион пользователя задавшего
                    вопрос.</p-->
                <p>По умолчанию после регистрации автоматически создается единственный фильтр «все вопросы».</p>
                <h3 class="h4">2.4. Статьи и публикации</h3>
                <p>2.4.1. Зарегистрированный пользователь может добавлять материал в виде статей для публикации
                    на сайте «Мойюрист.онлайн»</p>
                <p>2.4.2. Статьи публикуются в разделе «Публикации экспертов» или в интернет-журнале
                    «Юридический ликбез».</p>
                <a name="rating"></a>
                <h3 class="h4">2.5. Рейтинг юристов</h3>
                <p>2.5.1. Юристы упорядочиваются в результатах поиска и в списках по числову значению рейтинга,
                    в порядке убывания.</p>
                <p>2.5.2. Рейтинг начисляется следующим образом:</p>
                <ul>
                    <li>+2 балла за каждый ответ на вопрос;</li>
                    <li>+1 балла за ответ на уточнение или комментарий;</li>
                    <li>+3 балла, если другой юрист помечает ответ, как полезный;</li>
                    <li>-3 балла, если другой юрист помечает ответ, как бесполезный;</li>
                    <li>+10 баллов, если тот человек, который задал вопрос помечает ответ, как полезный;</li>
                    <li>-10 баллов, если тот человек, который задал вопрос помечает ответ, как бесполезный.</li>
                </ul>
                <!--h3>2.6. Дополнительные инструменты</h3>
                <p>2.6.1. <strong>Внутренняя почта,</strong> предназначена для общения между Экспертами, посетителями и администрацией сайта в рамках проекта <span class="logo">Svem<span>.</span>ru</span></p>
                <p>2.6.2. <strong>Форум,</strong> предназначен для открытого всем или закрытого общения на сайте <span class="logo">Svem<span>.</span>ru.</span></p-->

            </div>
        </div>
    </div>

{% endblock %}