{% extends 'layout.html' %}

{% block navbar_fixed %}navbar-fixed-always{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'front/generic/navbar.html' %}
    {% endblock %}

    {% block slidemenu %}
        {% include 'front/generic/slidemenu.html' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'front/generic/footer.html' %}
    {% endblock %}

{% endblock %}


{% block block_js %}
    <script>
        // $('.page').addClass("navbar-fixed");
        $(window).on('scroll', function () {
            console.log('ttt');
            if ($(window).scrollTop() > 60) {
                $('#app').addClass("navbar-fixed");
            }else{
                $('#app').removeClass("navbar-fixed");
            }
        });
        $('.slide-menu-toggle').click(function (event) {
            event.preventDefault();
            $('body').toggleClass("open-slide-menu");
        });
        $('.fix-navbar').click(function (event) {
            event.preventDefault();
            $(body).toggleClass("navbar-fixed");
        });
    </script>
{% endblock %}