{% extends 'layout.html' %}

{% block body %}

    {% block navbar %}
        {% include 'front/generic/navbar.html' %}
    {% endblock %}

    {% block slidemenu %}
        {% include 'front/generic/slidemenu.html' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'front/generic/footer.html' %}
    {% endblock %}

{% endblock %}


{% block block_js %}
    <script>
        $('#app').addClass("navbar-fixed");
        $('#app').on('scroll', function () {
            if ($('#app').scrollTop() > 60) {
                // $('#app').addClass("navbar-fixed");
            }else{
                // $('#app').removeClass("navbar-fixed");
            }
        });

        $('.slide-menu-toggle').click(function () {
            $('#app').toggleClass("open-slide-menu");
        });
        $('.fix-navbar').click(function () {
            $('#app').toggleClass("navbar-fixed");
        });
    </script>
{% endblock %}