{% extends 'layout.html' %}

{% block body %}

    {% block navbar %}
        {% include 'front/generic/navbar.html' %}
    {% endblock %}

    {% block slidemenu %}
        {% include 'front/generic/slidemenu.html' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'front/generic/footer.html' %}
    {% endblock %}

{% endblock %}


{% block block_js %}
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                navbar_isfixed: true,
            }
        });

        $('#app').on('scroll', function () {
            $('#app').addClass("navbar-fixed");
            // alert($('body').offset().top);
        });

        $('.slide-menu-toggle').click(function () {
            $('#app').toggleClass("open-slide-menu");
        });
        $('.fix-navbar').click(function () {
            $('#app').toggleClass("navbar-fixed");
        });
    </script>
{% endblock %}