{% extends 'front/base.html' %}
{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h1>Контакты</h1>

                <div class="my-4">
                    <a href="#msk">Москва</a>,
                    <a href="#spb">Санкт-Петербург</a>,
                    <a href="#ekt">Екатеринбург</a>,
                    <a href="#vlg">Волгоград</a>,
                    <a href="#nn">Нижний Новгород</a>,
                    <a href="#nsk">Новосибирск</a>,
                    <a href="#kzn">Казань</a>,
                    <a href="#str">Стерлитамак</a>,
                    <a href="#yar">Ярославль</a>,
                    <a href="#srt">Саратов</a>,
                    <a href="#stav">Ставрополь</a>,
                    <a href="#tol">Тольятти</a>
                </div>

                <div class="span-12 span-12-1024">
                    <div class="vcard">
                        <a name="msk"></a>
                        <h2 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн</h2>
                        <div class="adr">
                            <strong><span class="postal-code">105064</span>, г. <span
                                    class="locality">Москва</span></strong>,
                            <span class="street-address">ул. Земляной Вал, д.30, офис&nbsp;12</span>,
                            <br/>тел. <strong class="tel">+7 (495) 984-46-07</strong>
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="spb"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в
                            Санкт-Петербурге</h3>
                        <div class="adr">
                            <strong><span class="postal-code">193231</span>, г. <span
                                    class="locality">Санкт-Петербург</span></strong>,
                            <span class="street-address">Российский проспект, д. 14</span>,
                            <br/>тел. <strong class="tel">+7 (812) 458-04-71</strong>
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="ekt"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Екатеринбурге</h3>
                        <div class="adr">
                            <strong><span class="postal-code">620026</span>, г. <span
                                    class="locality">Екатеринбург</span></strong>,
                            <span class="street-address">улица Мамина-Сибиряка, д. 126</span>,
                            <br/>тел. <strong class="tel">+7 (343) 226-02-84</strong>
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="vlg"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Волгограде</h3>
                        <div class="adr">
                            <strong><span class="postal-code">400007</span>, г. <span class="locality">Волгоград</span></strong>,
                            <span class="street-address">пр-кт Металлургов, 7</span>
                            <br/>тел. <strong class="tel">+7 (8442) 73-00-52</strong>
                            <br/>моб. <strong class="tel">+7 (903) 315-09-52</strong>
                            (<a href="{% url 'front:lawyer_page' id=2836 %}"
                                title="личная страница адвоката Березовского Александра Михайловича">адвокат Березовский
                            Александр Михайлович</a>)
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="nn"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Нижнем
                            Новгороде</h3>
                        <div class="adr">
                            <strong><span class="postal-code">603001</span>, г. <span
                                    class="locality">Нижний Новгород</span></strong>,
                            <span class="street-address">Кожевенный переулок, д. 4/8</span>
                            <br/>тел. <strong class="tel">+7 (831) 217-30-94</strong>
                            <br/>моб. <strong class="tel">+7 (910) 797-98-20</strong>
                            (<a href="{% url 'front:lawyer_page' id=1354 %}"
                                title="личная страница адвоката Дубиновского Алексея Марковича">адвокат Дубиновский
                            Алексей Маркович</a>)
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="nsk"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Новосибирске</h3>
                        <div class="adr">
                            <strong><span class="postal-code">630129</span>, г. <span
                                    class="locality">Новосибирск</span></strong>,
                            <span class="street-address">улица Кочубея, 3/1, 1-й этаж</span>
                            <br/>тел. <strong class="tel">+7 (383) 380-15-32</strong>
                            <br/>моб. <strong class="tel">+7 (952) 938-08-08</strong>
                            (<a href="{% url 'front:lawyer_page' id=2206 %}"
                                title="личная страница адвоката Волкова Андрея Владимировича">адвокат Волков Андрей
                            Владимирович</a>)
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="kzn"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Казани</h3>
                        <div class="adr">
                            <strong><span class="postal-code">420044</span>, г. <span
                                    class="locality">Казань</span></strong>,
                            <span class="street-address">ул. Короленко, 33а</span>
                            <br/>тел. <strong class="tel">+7 (843) 561-17-95</strong>
                            <br/>моб. <strong class="tel">+7 (917) 277-26-53</strong>
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="str"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Стерлитамаке</h3>
                        <div class="adr">
                            <strong><span class="postal-code">453118</span>, г. <span
                                    class="locality">Стерлитамак</span></strong>,
                            <span class="street-address">ул. Худайбердина, 107</span>
                            <br/>моб. <strong class="tel">+7 (917) 346-07-66</strong>
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="yar"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Ярославле</h3>
                        <div class="adr">
                            <strong><span class="postal-code">150000</span>, г. <span class="locality">Ярославль</span></strong>,
                            <span class="street-address">Ул. Свободы д.2, офис № 417</span>
                            <br/>многоканальный <strong class="tel">+7 (4852) 78-95-91</strong>
                            <br/><strong class="tel">+7 (4852) 64-99-21</strong>
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="srt"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Саратове</h3>
                        <div class="adr">
                            <strong><span class="postal-code">410004</span>, г. <span
                                    class="locality">Саратов</span></strong>,
                            <span class="street-address">ул. Чернышевского 60/62, оф. № 509</span>
                            <br/><strong class="tel">+7 (8452) 32-47-97</strong>
                            <br/>моб.<strong class="tel">+7 (962) 622-47-97</strong>
                            (<a href="{% url 'front:lawyer_page' id=7307 %}"
                                title="личная страница адвоката Боряева Андрея Александровича">адвокат Боряев Андрей
                            Александрович</a>)
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="stav"></a>
                        <h3 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Ставрополе</h3>
                        <div class="adr">
                            <strong><span class="postal-code">355042</span>, г. <span class="locality">Ставрополь</span></strong>,
                            <span class="street-address">ул. 50 лет ВЛКСМ, д. 79, торговый центр &laquo;МЖК&raquo; 3 этаж, оф. 84</span>
                            <br/><strong class="tel">+7 (8652) 47-18-17</strong>
                            <br/>моб.<strong class="tel">+7 (962) 447-18-17</strong>
                            (<a href="{% url 'front:lawyer_page' id=457 %}"
                                title="личная страница адвоката Перепади Сергея Михайловича">адвокат Перепадя Сергей
                            Михайлович</a>)
                        </div>
                    </div>

                    <hr class="my-4"/>

                    <div class="vcard">
                        <a name="tol"></a>
                        <h4 class="fn org bottom">Горячая линия юридической помощи Мойюрист.онлайн в Тольятти</h4>
                        <div class="adr">
                            <strong><span class="postal-code">355042</span>, г. <span
                                    class="locality">Тольятти</span></strong>,
                            <span class="street-address">ул. Мира, д. 135</span>
                            <br/>Консультации возможны в Автозаводском, Центральном и Комсомольском районах г.Тольятти
                            по предварительному согласованию по телефону:
                            <br/>моб.<strong class="tel">+7 (904) 734-33-43</strong>
                            (<a href="{% url 'front:lawyer_page' id=8195 %}">юрист Мещерякова Ольга Васильевна</a>)
                        </div>
                    </div>

                    <hr class="space"/>

                </div>

            </div>
        </div>
    </div>


{% endblock %}