{% extends 'front/base.html' %}
{% load static %}

{% block navbar_fixed %}{% endblock %}

{% block content %}

    <section class="header-section">
        <main class="text-center row">
            <h1 class="h4 mt-5 col-12">Юридическая консультация <nobr>онлайн с&nbsp;2005 года</nobr></h1>
            <h2 class="h1 mb-5 col-12">Ваш персональный <nobr>онлайн юрист</nobr></h2>
            <!--p style="font-size: 80px; font-weight: 100; line-height: 20px">~</p-->
            <p class="col-md-7 mx-auto lead mb-5">
                <b>Просто задайте вопрос <nobr>и получите грамотный</nobr> <nobr>совет юриста</nobr> <nobr>в любой жизненной ситуации.</nobr></b>
            </p>
            <!--p class="lead text-center mb-4">{{ request.user.email }}</p-->
            <div class="col-12">
                <a href="{% url 'ask_question' %}" class="btn btn-primary btn-lg px-5">Начать консультацию</a>
            </div>
        </main>
    </section>

    <section class="advantage-section">
        <div class="row">
            <div class="row content">
                <h3>Наши преимущества<sup>*</sup></h3>
                <div class="advantages">
                    <div class="advantage-item i1">
                        <h5>Экономия денег</h5>
                        <p>Услуги наших экспертов дешевле на 20-60%, чем у юриста в офисе.</p>
                    </div>
                    <div class="advantage-item i2">
                        <h5>Консультация 7/24</h5>
                        <p>Консультируем в любое время, каждый день.</p>
                    </div>
                    <div class="advantage-item i3">
                        <h5>Консультации онлайн — удобно!</h5>
                        <p>Нет необходимости искать юриста и посещать офис.</p>
                    </div>
                    <div class="advantage-item i4">
                        <h5>Гарантия качества</h5>
                        <p>Возвратим 100% оплаченных услуг, если вы не будете удовлетворены.</p>
                    </div>
                    <div class="advantage-item i5">
                        <h5>Подтверждённая компетенция</h5>
                        <p>Наши юристы с юридическим образованием, практики, стажем от 5 лет.</p>
                    </div>
                    <div class="advantage-item i6">
                        <h5>Полная защита</h5>
                        <p>Данные передаются по защищённому протоколу и недоступны другим.</p>
                    </div>
                </div>
                <small class="text-muted">* Относится только к платным консультациям</small>
            </div>
        </div>
    </section>

    <section class="gray review-section">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>За 13 лет 236&nbsp;820 посетителей получили консультации</h2>
                </div>
                <div class="gutter"></div>
                <div class="reviews">
                    <div class="review">
                        {% for item in reviews %}
                            <a class="review-item"
                               href="{% url 'question:detail' pk=item.like.entry.answer.on_question_id %}">
                                <div class="d-flex justify-content-between align-items-start">
                                    <h6>{{ item.like.user.get_name }}</h6>
                                    <small class="text-muted">Вопрос №{{ item.like.entry.answer.on_question_id }}</small>
                                </div>
                                <p>{{ item.review }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="desc">
                    <p class="lead">23&nbsp;467 отзывов и благодарностей оставили наши клиенты.</p>
                    <button type="button">Посмотреть все отзывы<span class="icon-forum ml-2"></span></button>
                </div>
                <div class="gutter"></div>
            </div>
        </div>
    </section>

    <section class="blue lawyer-section">

        <div class="container">
            <div class="row">
                <div class="title">
                    <h3>Юристы и адвокаты</h3>
                    <button type="button" class="btn btn-sm btn-white">Все эксперты <i class="icon-people ml-2"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="cards-inner">
                {% for lawyer in lawyers %}
                    {% include 'front/generic/lawyer_card.html' with item=lawyer %}
                {% endfor %}
            </div>
        </div>

    </section>

    <section class="questions-section">

        <div class="container">

            <header>
                <h3>Последние консультации юристов</h3>
            </header>

            <hr>

            {% for question in questions %}
                {% include 'question/generic/question_item_in_list.html' with item=question show_answers=True %}
            {% endfor %}

            <footer class="row">
                <div class="col-9 ml-auto mt-2">
                    <a href="{% url 'questions:list' %}" class="btn btn-primary">Ещё консультации…
                        <i class="icon-check-circle ml-2"></i></a>
                </div>
            </footer>

        </div>

    </section>

{% endblock %}