{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <section class="header">
        <div>
            <h1 class="text-center mb-3">{{ h1 }}</h1>
            <p class="lead text-center mb-4"><b>Получите профессиональную юридическую консультацию удобным для Вас
                способом:</b><br>
                В режиме вопрос-ответ, в чате, либо по телефону.</p>
            <p class="text-center">
                <button type="submit" class="btn btn-lg btn-primary px-5">Задать вопрос юристу</button>
            </p>
        </div>
    </section>

    <section class="col-5" style="margin-top:60px; margin-bottom: 60px">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" disabled placeholder="Недоступно">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Подсказка">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="Фокус и ввод">
                <small class="text-muted">Введите Ваше имя и телефон.</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control is-invalid" value="Ошибка">
                <span class="invalid-feedback">We'll never share your email with anyone else.</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control is-valid" value="Верно">
                <span class="valid-feedback">We'll never share your email with anyone else.</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="Заполнено">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>

    <section class="col-8" style="margin-top: 60px; margin-bottom: 60px">
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Электронный ящик</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 col-form-label">Пароль</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-legend col-sm-4">Переключатели</legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios1" id="gridRadios1"
                                       checked value="option1">
                                <label for="gridRadios1">Option one is this and that&mdash;be sure to include why it's
                                    great</label>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios2" id="gridRadios2"
                                       value="option2">
                                <label for="gridRadios2">Option two can be something else and selecting it will deselect
                                    option one</label>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios3" id="gridRadios3"
                                       value="option3" disabled>
                                <label for="gridRadios3">Option three is disabled</label>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios3" id="gridRadios4"
                                       value="option4" checked disabled>
                                <label for="gridRadios4">Option three is disabled and checked</label>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">

                    <div class="col-sm-8">
                        <div class="form-check form-check-inline form-check-label mr-5">
                            <input class="form-check-input" type="radio" name="role0" id="radio10" value="client">
                            <label for="radio10">Клиент</label>
                        </div>
                        <div class="form-check form-check-inline form-check-label">
                            <input class="form-check-input" type="radio" name="role0" id="radio20" value="lawyer">
                            <label for="radio20">Юрист</label>
                        </div>
                    </div>

                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary px-4">
                        <span class="icon-folder mr-2"></span>Обзор
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary col-5">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary btn-sm px-3">
                        Вход<span class="icon-person ml-2"></span></button>
                </div>
            </div>
            <div class="form-group row p-5" style="background-color: #2e67fb">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-sm btn-onbar sq"><span class="icon-lightning"></span></button>
                    <button type="submit" class="btn btn-sm btn-onbar sq active"><span class="icon-lightning"></span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-onbar px-3">
                        Задать вопрос<span class="ml-2 icon-message_bubble"></span></button>
                    <button type="submit" class="btn btn-sm btn-onbar sq"><span class="icon-menu"></span></button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg col-8">Задать вопрос юристу</button>
                </div>
            </div>
        </form>
        <br>
        <hr>
        <br>
        <form>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                           placeholder="col-form-label-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-lg" id="colFormLabelLg"
                           placeholder="col-form-label-lg">
                </div>
            </div>
        </form>

    </section>

    <section class="blue">

        <div class="win-round">

            <h2 class="logo">Вход</h2>

            <div class="row">
                <form method="post" class="l-col">

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Электронный ящик" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" name="password">
                    </div>
                    <p class="req"><a href="#">Восстановить пароль</a></p>
                    <button type="submit" class="btn btn-outline-primary col-12">Войти</button>

                </form>

                <div class="hr"></div>

                <div class="r-col">
                    <h4>войти через соцсети:</h4>
                    <button type="submit" class="btn-vk"><span class="icon-vk"></span></button>
                    <button type="submit" class="btn-od"><span class="icon-od"></span></button>
                    <button type="submit" class="btn-ml"><span class="icon-ml"></span></button>
                    <button type="submit" class="btn-fb"><span class="icon-fb"></span></button>
                    <button type="submit" class="btn-tw"><span class="icon-tw"></span></button>
                    <button type="submit" class="btn-gl"><span class="icon-gl"></span></button>
                </div>

                <p class="reg">Ещё не зарегистрированны? <a href="#sgnup">Регистрация</a></p>
            </div>

        </div>
    </section>
    <br>
    <section class="blue">
        <div class="win-round">
            <h2 class="logo">Регистрация</h2>
            <div class="row">
                <form method="post" class="l-col">

                    <!--fieldset class="form-group mb-3">
                        <div class="form-check form-check-inline form-check-label mr-5">
                            <input class="form-check-input" type="radio" name="role" id="radio1" value="client">
                            <label for="radio1">Клиент</label>
                        </div>
                        <div class="form-check form-check-inline form-check-label">
                            <input class="form-check-input" type="radio" name="role" id="radio2" checked
                                   value="lawyer">
                            <label for="radio2">Юрист</label>
                        </div>
                    </fieldset-->
                    <div class="form-group">
                        <input type="text" class="form-control is-invalid" placeholder="Имя"
                               value="Валерий" name="first_name">
                        <span class="invalid-feedback">Ваше имя уже встречается у другого клиента. Придумайте себе
                        другое имя.</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Фамилия" name="first_name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Отчество" name="patronymic">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Электронный ящик" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-primary col-12">Зарегистрироваться</button>

                </form>

                <div class="hr"></div>

                <div class="r-col">
                    <h4>войти через соцсети:</h4>
                    <button type="submit" class="btn-vk"><span class="icon-vk"></span></button>
                    <button type="submit" class="btn-od"><span class="icon-od"></span></button>
                    <button type="submit" class="btn-ml"><span class="icon-ml"></span></button>
                    <button type="submit" class="btn-fb"><span class="icon-fb"></span></button>
                    <button type="submit" class="btn-tw"><span class="icon-tw"></span></button>
                    <button type="submit" class="btn-gl"><span class="icon-gl"></span></button>
                </div>

                <p class="reg">Уже зарегистрированны? <a href="#login">Войдите</a></p>
            </div>

        </div>
    </section>
    <br>
    <section class="blue">

        <div class="win-round rec">

            <h2 class="logo">Восстановить пароль</h2>

            <div class="row">

                <form class="l-col" method="post">

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Электронный ящик" name="email">
                    </div>
                    <button type="submit" class="btn btn-outline-primary col-12">Отправить письмо</button>


                </form>

                <div class="r-col">
                    <h4>Введите адрес электронной почты и мы вышлем инструкцию для восстановления пароля.</h4>
                </div>

                <p class="reg"><a href="#">Вход</a> или <a href="#">Регистрация</a></p>

            </div>

        </div>
    </section>
    <br>
    <section class="blue">

        <div class="win-round rec" style="width: 770px;">

            <h2 class="logo mb-3">Консультация юриста</h2>
            <p class="lead mb-4">Задайте вопрос, что бы начать профессиональную юридическую консультацию
                от топовых юристов Рунета.</p>

            <form method="post">

                <div class="form-group">
                    <textarea type="email" class="form-control" id="ask_title"
                              placeholder="Суть вопроса" rows="2"></textarea>
                    <small>Сформулируйте вопрос так, чтобы сразу было понятно, о чём речь.</small>
                </div>

                <div class="form-group mt-4">
                    <textarea type="email" class="form-control" id="ask_content"
                              placeholder="Детали вопроса" rows="7"></textarea>
                    <small>Опишите в подробностях свой вопрос, чтобы получить более точный ответ.</small>
                </div>

                <div class="form-group row mt-4">
                    <label for="ask_name" class="col-form-label">Рубрика</label>
                    <div class="col-sm-8">
                        <textarea type="email" class="form-control" id="ask_content"
                                  placeholder="" rows="1"></textarea>
                        <small>Выбирите одну или несколько тем, что Ваш вопрос увидел компетентные юрист.
                            Начните вводить тему.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ask_name" class="col-form-label">Прикрепить файлы</label>
                    <div class="col-sm-8">
                        <button type="file" class="btn btn-sm btn-outline-primary" id="ask_file">
                            <span class="icon-folder mr-2"></span> Обзор
                        </button>

                        <div class="file-loader" data-filename="Договор.docx">
                            <i class="bar"><i style="width:35%;"></i></i></div>

                        <div class="file-loader"
                             data-filename="Протокол заседания арбитражного суда Кировского района.docx">
                            <i class="bar"><i style="width:4%;"></i></i></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ask_name" class="col-form-label required">Ваше имя</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ask_name" placeholder="Ваше имя">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ask_email" class="col-form-label required">Электронный ящик</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="ask_email" required placeholder="Электронный ящик">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-4" style="float: right;">
                    Задать вопрос<span class="icon-nav-arrow-right ml-2"></span></button>

            </form>

        </div>

    </section>
    <br>
    <section class="blue">
        <div class="d-flex">
            <div class="lawyer-card">
                <div class="titl">
                    <h6><a href="#">Швырёва Надежда Валерьевна</a></h6>
                    <div class="rating">9,37</div>
                </div>
                <div class="cont">
                    <h6 class="subtitle">Юрист-онлайн</h6>
                    <p class="normal">Практики: корпоративное и коммерческое право РФ, международное частное право,
                        иностранные инвестиции, M&A, антимонопольное право, законодательство о рынке ценных бумаг.</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}