{% extends 'front/base.html' %}
{% load static %}

{% block content %}

    <section class="header-section">
        <main class="text-center">
            <h1 class="h4 mt-5">Юридическая консультация онлайн с 2005 года</h1>
            <h2 class="h1 mb-5">100% гарантия решения юридического вопроса</h2>
            <!--p style="font-size: 80px; font-weight: 100; line-height: 20px">~</p-->
            <p class="col-md-7 mx-auto lead mt-5 mb-5">
                <b>Вернём деньги за платный вопрос, если вы не будете удовлетворены консультацией нашего эксперта.</b>
            </p>
            <!--p class="lead text-center mb-4">{{ request.user.email }}</p-->
            <div>
                <a href="{% url 'ask_question' %}" class="btn btn-primary px-5">Начать консультацию</a>
            </div>
        </main>
    </section>

    <section class="advantage-section">
            <div class="row">
                <div class="row content">
                    <h3>Наши преимущества<sup>*</sup></h3>
                    <div class="advantages">
                        <div class="advantage-item i1">
                            <h5>Экономия денег</h5>
                            <p>Услуги наших экспертов дешевле на 20-60%, чем у юриста в офисе.</p>
                        </div>
                        <div class="advantage-item i2">
                            <h5>Консультация 7/24</h5>
                            <p>Консультируем в любое время, каждый день.</p>
                        </div>
                        <div class="advantage-item i3">
                            <h5>Консультации онлайн — удобно!</h5>
                            <p>Нет необходимости искать юриста и посещать офис.</p>
                        </div>
                        <div class="advantage-item i4">
                            <h5>Гарантия качества</h5>
                            <p>Возвратим 100% оплаченных услуг, если вы не будете удовлетворены.</p>
                        </div>
                        <div class="advantage-item i5">
                            <h5>Подтверждённая компетенция</h5>
                            <p>Наши юристы только с подтверждённой компетенцией и хорошей репутацией.</p>
                        </div>
                        <div class="advantage-item i6">
                            <h5>Полная защита</h5>
                            <p>Данные передаются по защищённому протоколу и недоступны другим.</p>
                        </div>
                    </div>
                    <small class="text-muted">* Относится только к платным консультациям</small>
                </div>
            </div>
    </section>

    <section class="gray review-section">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>За 10 лет 236&nbsp;820 посетителей получили консультации</h2>
                </div>
                <div class="gutter"></div>
                <div class="reviews">
                    <div class="review">
                        <div class="review-item">
                            <h6>Ольга Логинова</h6>
                            <p>{% lorem 17 w random %}</p>
                        </div>
                        <div class="review-item">
                            <h6>Ольга Логинова</h6>
                            <p>{% lorem 17 w random %}</p>
                        </div>
                        <div class="review-item">
                            <h6>Ольга Логинова</h6>
                            <p>{% lorem 17 w random %}</p>
                        </div>
                        <div class="review-item">
                            <h6>Ольга Логинова</h6>
                            <p>{% lorem 17 w random %}</p>
                        </div>
                        <div class="review-item">
                            <h6>Ольга Логинова</h6>
                            <p>{% lorem 17 w random %}</p>
                        </div>
                        <div class="review-item">
                            <h6>Ольга Логинова</h6>
                            <p>{% lorem 17 w random %}</p>
                        </div>
                        <div class="review-item">
                            <h6>Ольга Логинова</h6>
                            <p>{% lorem 17 w random %}</p>
                        </div>
                    </div>
                </div>
                <div class="desc">
                    <p class="lead">23&nbsp;467 отзывов и благодарностей оставили наши клиенты.</p>
                    <button type="button">Посмотреть все отзывы<span class="icon-forum ml-2"></span></button>
                </div>
                <div class="gutter"></div>
            </div>
        </div>
    </section>

    {% comment %}<section class="gray">
        <div class="container">
            <h2>За 10 лет 236 820 посетителей получили консультации</h2>
            <p class="lead mb-5">23 467 отзывов и благодарностей оставили наши клиенты.</p>

            <div class="card-columns">
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>1Мне требуется решение моей ситуации с данными обстоятельствами, а не свод общих правил въезда
                            на Украину, их я и так знаю.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Андрей к <cite title="Source Title"><a href="#">вопросу №324656</a></cite>
                                <br>
                                Москва, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>2Олег Юрьевич! Большое спасибо, Вы мне очень помогли.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Светлана Валериевна к <cite title="Source Title"><a href="#">вопросу №434656</a></cite>
                                <br>
                                Ноябрьск, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>3Отличный и развернутый ответ.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Анна к <cite title="Source Title"><a href="#">вопросу №324656</a></cite>
                                <br>
                                Стерлитамак, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>4Мне требуется решение моей ситуации с данными обстоятельствами, а не свод общих правил въезда
                            на Украину, их я и так знаю.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Андрей к <cite title="Source Title"><a href="#">вопросу №324656</a></cite>
                                <br>
                                Москва, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>5Мне требуется решение моей ситуации с данными обстоятельствами, а не свод общих правил въезда
                            на Украину, их я и так знаю.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Андрей к <cite title="Source Title"><a href="#">вопросу №324656</a></cite>
                                <br>
                                Москва, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>6Олег Юрьевич! Большое спасибо, Вы мне очень помогли.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Светлана Валериевна к <cite title="Source Title"><a href="#">вопросу №434656</a></cite>
                                <br>
                                Ноябрьск, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>7Отличный и развернутый ответ.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Анна к <cite title="Source Title"><a href="#">вопросу №324656</a></cite>
                                <br>
                                Стерлитамак, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>8Мне требуется решение моей ситуации с данными обстоятельствами, а не свод общих правил въезда
                            на Украину, их я и так знаю.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Андрей к <cite title="Source Title"><a href="#">вопросу №324656</a></cite>
                                <br>
                                Москва, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>9Олег Юрьевич! Большое спасибо, Вы мне очень помогли.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Светлана Валериевна к <cite title="Source Title"><a href="#">вопросу №434656</a></cite>
                                <br>
                                Ноябрьск, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>10Отличный и развернутый ответ.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Анна к <cite title="Source Title"><a href="#">вопросу №324656</a></cite>
                                <br>
                                Стерлитамак, 23 Ноября 2017 20:53
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>

            <footer class="row">
                <div class="col mx-auto text-center">
                    <button href="#" class="btn btn-primary">Все отзывы <i class="icon-forum ml-2"></i>
                    </button>
                </div>
            </footer>


        </div>
    </section>{% endcomment %}

    <section class="blue lawyer-section">

        <div class="container">
            <div class="row">
                <div class="title">
                    <h3>Лучшие юристы и адвокаты</h3>
                    <button type="button" class="btn btn-sm btn-white">Все эксперты <i class="icon-people ml-2"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="cards-inner">
                {% for lawyer in lawyers %}
                    {% include 'front/generic/lawyer_card.html' with item=lawyer %}
                {% endfor %}
                {% comment %}
                <div class="lawyer-card">
                    <div class="lanyard"></div>
                    <img src="https://res.cloudinary.com/svem/image/upload/c_fill,h_720,w_618/v1468947524/7QC_0328-3_ihqr8z.jpg">
                    <div class="lawyer-card-title">
                        <h6><a href="#">Швырёва Надежда Валерьевна</a></h6>
                        <p class="rating">9,37</p>
                    </div>
                    <div class="lawyer-card-body">
                        <h6>Юрист-онлайн</h6>
                        <p>Практики: корпоративное и коммерческое право РФ, международное частное право,
                            иностранные
                            инвестиции, M&A, антимонопольное право, законодательство о рынке ценных бумаг.</p>
                    </div>
                </div>
                <div class="lawyer-card">
                    <div class="lanyard"></div>
                    <img src="https://res.cloudinary.com/svem/image/upload/e_grayscale/v1459783709/user_id_3.jpg">
                    <div class="lawyer-card-title">
                        <h6><a href="#">Авсюков Кирилл Сергеевич</a></h6>
                        <p class="rating">9,99</p>
                    </div>
                    <div class="lawyer-card-body">
                        <h6>Супер-адвокат</h6>
                        <p>Партнер юридической фирмы Bright & Hues. До присоединения к фирме в 2016 году Евгений
                            работал
                            в
                            московских офисах международных консалтинговых и юридических фирм.</p>
                    </div>
                </div>
                <div class="lawyer-card">
                    <div class="lanyard"></div>
                    <img src="https://res.cloudinary.com/svem/image/upload/v1476854720/2hHNHtY5gJ8_n3p2jm.jpg">
                    <div class="lawyer-card-title">
                        <h6><a href="#">Саломатова Татьяна Вячеславовна</a></h6>
                        <p class="rating">9,99</p>
                    </div>
                    <div class="lawyer-card-body">
                        <h6>Супер-адвокат</h6>
                        <p>Консультирование крупной российской фармацевтической компании в отношении
                            корпоративных и
                            коммерческих вопросов, связанных с общим центром обслуживания (shared services
                            center)</p>
                    </div>
                </div>
                <div class="lawyer-card">
                    <div class="lanyard"></div>
                    <img src="https://res.cloudinary.com/svem/image/upload/c_fill,h_720,w_618/v1468947524/7QC_0328-3_ihqr8z.jpg">
                    <div class="lawyer-card-title">
                        <h6><a href="#">Швырёва Надежда Валерьевна</a></h6>
                        <p class="rating">9,37</p>
                    </div>
                    <div class="lawyer-card-body">
                        <h6>Юрист-онлайн</h6>
                        <p>Практики: корпоративное и коммерческое право РФ, международное частное право,
                            иностранные
                            инвестиции, M&A, антимонопольное право, законодательство о рынке ценных бумаг.</p>
                    </div>
                </div>
                <div class="lawyer-card">
                    <div class="lanyard"></div>
                    <img src="https://res.cloudinary.com/svem/image/upload/e_grayscale/v1459783709/user_id_3.jpg">
                    <div class="lawyer-card-title">
                        <h6><a href="#">Авсюков Кирилл Сергеевич</a></h6>
                        <p class="rating">9,99</p>
                    </div>
                    <div class="lawyer-card-body">
                        <h6>Супер-адвокат</h6>
                        <p>Партнер юридической фирмы Bright & Hues. До присоединения к фирме в 2016 году Евгений
                            работал
                            в
                            московских офисах международных консалтинговых и юридических фирм.</p>
                    </div>
                </div>
                <div class="lawyer-card">
                    <div class="lanyard"></div>
                    <img src="https://res.cloudinary.com/svem/image/upload/v1476854720/2hHNHtY5gJ8_n3p2jm.jpg">
                    <div class="lawyer-card-title">
                        <h6><a href="#">Саломатова Татьяна Вячеславовна</a></h6>
                        <p class="rating">9,99</p>
                    </div>
                    <div class="lawyer-card-body">
                        <h6>Супер-адвокат</h6>
                        <p>Консультирование крупной российской фармацевтической компании в отношении
                            корпоративных и
                            коммерческих вопросов, связанных с общим центром обслуживания (shared services
                            center)</p>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>

    </section>

    <section class="questions-section">

        <div class="container">

            <header>
                <h3>Последние консультации юристов</h3>
            </header>

            <hr>

            {% for question in questions %}
                {% include 'entry/generic/question_item.html' with item=question show_answers=True %}
            {% endfor %}

            <footer class="row">
                <div class="col-9 ml-auto mt-2">
                    <a href="{% url 'questions:list' %}" class="btn btn-primary">Ещё консультации…
                        <i class="icon-check-circle ml-2"></i></a>
                </div>
            </footer>

        </div>

    </section>

    {% comment %}
    <section class="col-5" style="margin-top:60px; margin-bottom: 60px">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" disabled placeholder="Недоступно">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Подсказка">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="Фокус и ввод">
                <small class="text-muted">Введите Ваше имя и телефон.</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control is-invalid" value="Ошибка">
                <span class="invalid-feedback">We'll never share your email with anyone else.</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control is-valid" value="Верно">
                <span class="valid-feedback">We'll never share your email with anyone else.</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="Заполнено">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>

    <section class="col-8" style="margin-top: 60px; margin-bottom: 60px">
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Электронный ящик</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 col-form-label">Пароль</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-legend col-sm-4">Переключатели</legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios1" id="gridRadios1"
                                       checked value="option1">
                                <label for="gridRadios1">Option one is this and that&mdash;be sure to include why it's
                                    great</label>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios2" id="gridRadios2"
                                       value="option2">
                                <label for="gridRadios2">Option two can be something else and selecting it will deselect
                                    option one</label>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios3" id="gridRadios3"
                                       value="option3" disabled>
                                <label for="gridRadios3">Option three is disabled</label>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios3" id="gridRadios4"
                                       value="option4" checked disabled>
                                <label for="gridRadios4">Option three is disabled and checked</label>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">

                    <div class="col-sm-8">
                        <div class="form-check form-check-inline form-check-label mr-5">
                            <input class="form-check-input" type="radio" name="role0" id="radio10" value="client">
                            <label for="radio10">Клиент</label>
                        </div>
                        <div class="form-check form-check-inline form-check-label">
                            <input class="form-check-input" type="radio" name="role0" id="radio20" value="lawyer">
                            <label for="radio20">Юрист</label>
                        </div>
                    </div>

                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary px-4">
                        <span class="icon-folder mr-2"></span>Обзор
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary col-5">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary btn-sm px-3">
                        Вход<span class="icon-person ml-2"></span></button>
                </div>
            </div>
            <div class="form-group row p-5" style="background-color: #2e67fb">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-sm btn-onbar sq"><span class="icon-lightning"></span></button>
                    <button type="submit" class="btn btn-sm btn-onbar sq active"><span class="icon-lightning"></span>
                    </button>
                    <button type="submit" class="btn btn-sm btn-onbar px-3">
                        Задать вопрос<span class="ml-2 icon-message_bubble"></span></button>
                    <button type="submit" class="btn btn-sm btn-onbar sq"><span class="icon-menu"></span></button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg col-8">Задать вопрос юристу</button>
                </div>
            </div>
        </form>
        <br>
        <hr>
        <br>
        <form>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                           placeholder="col-form-label-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-lg" id="colFormLabelLg"
                           placeholder="col-form-label-lg">
                </div>
            </div>
        </form>

    </section>

    <section class="blue">

        <div class="win-round">

            <h2 class="logo">Активация / Вход</h2>

            <div class="row">
                <form method="post" class="l-col">

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Электронный ящик" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" name="password">
                    </div>
                    <p class="req"><a href="#">Восстановить пароль</a></p>

                    <button id="login_button" type="submit" class="btn btn-outline-primary col-12"
                            data-loading-text="Загрузка…">Вход
                    </button>

                    <div class="msg"><!-- .l-col .msg -->
                        <p class="suc">Ваша учётная запись активированна, авторизуйтесь, пожалуйста.</p>
                    </div>

                </form>

                <div class="hr"></div>

                <div class="r-col">
                    <h4>войти через соцсети:</h4>
                    <button type="submit" class="btn-vk"><span class="icon-vk"></span></button>
                    <button type="submit" class="btn-od"><span class="icon-od"></span></button>
                    <button type="submit" class="btn-ml"><span class="icon-ml"></span></button>
                    <button type="submit" class="btn-fb"><span class="icon-fb"></span></button>
                    <button type="submit" class="btn-tw"><span class="icon-tw"></span></button>
                    <button type="submit" class="btn-gl"><span class="icon-gl"></span></button>
                    <!--div class="msg"><!-- .r-col .msg - ->
                        <p class="err">Авторизация через соцсети не удалась.</p>
                    </div-->
                </div>
                <p class="reg">Ещё не зарегистрированны? <a href="#sgnup">Регистрация</a></p>
            </div>

        </div>
    </section>
    <br>
    <section class="blue">
        <div class="win-round">
            <h2 class="logo">Регистрация</h2>
            <div class="row">
                <form method="post" class="l-col">

                    <!--fieldset class="form-group mb-3">
                        <div class="form-check form-check-inline form-check-label mr-5">
                            <input class="form-check-input" type="radio" name="role" id="radio1" value="client">
                            <label for="radio1">Клиент</label>
                        </div>
                        <div class="form-check form-check-inline form-check-label">
                            <input class="form-check-input" type="radio" name="role" id="radio2" checked
                                   value="lawyer">
                            <label for="radio2">Юрист</label>
                        </div>
                    </fieldset-->
                    <div class="form-group">
                        <input type="text" class="form-control is-invalid" placeholder="Имя"
                               value="Валерий" name="first_name">
                        <span class="invalid-feedback">Ваше имя уже встречается у другого клиента. Придумайте себе
                        другое имя.</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Фамилия" name="first_name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Отчество" name="patronymic">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Электронный ящик" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-primary col-12">Зарегистрироваться</button>

                </form>

                <div class="hr"></div>

                <div class="r-col">
                    <h4>войти через соцсети:</h4>
                    <button type="submit" class="btn-vk"><span class="icon-vk"></span></button>
                    <button type="submit" class="btn-od"><span class="icon-od"></span></button>
                    <button type="submit" class="btn-ml"><span class="icon-ml"></span></button>
                    <button type="submit" class="btn-fb"><span class="icon-fb"></span></button>
                    <button type="submit" class="btn-tw"><span class="icon-tw"></span></button>
                    <button type="submit" class="btn-gl"><span class="icon-gl"></span></button>
                </div>

                <p class="reg">Уже зарегистрированны? <a href="#login">Войдите</a></p>
            </div>

        </div>
    </section>
    <br>
    <section class="blue">

        <div class="win-round rec">

            <h2 class="logo">Восстановить пароль</h2>

            <div class="row">

                <form class="l-col" method="post">

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Электронный ящик" name="email">
                    </div>
                    <button type="submit" class="btn btn-outline-primary col-12">Отправить письмо</button>


                </form>

                <div class="r-col">
                    <h4>Введите адрес электронной почты и мы вышлем инструкцию для восстановления пароля.</h4>
                </div>

                <p class="reg"><a href="#">Вход</a> или <a href="#">Регистрация</a></p>

            </div>

        </div>
    </section>
    <br>
    <section class="blue">

        <div class="win-round rec">

            <h2 class="logo">Создать новый пароль</h2>

            <div class="row">

                <form class="l-col" method="post">

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" name="password1">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Повторите пароль" name="password2">
                    </div>

                    <button type="submit" class="btn btn-outline-primary col-12">Отправить письмо</button>

                </form>

                <div class="r-col">
                    <h4>Пожалуйста введите новый пароль.</h4>
                </div>

                <p class="reg"><a href="#">Вход</a> или <a href="#">Регистрация</a></p>

            </div>

        </div>
    </section>
    <br>
    <section class="blue">

        <div class="win-round rec" style="width: 770px;">

            <h2 class="logo mb-3">Консультация юриста</h2>
            <p class="lead mb-4">Задайте вопрос, что бы начать профессиональную юридическую консультацию
                от топовых юристов Рунета.</p>

            <form method="post">

                <div class="form-group">
                    <textarea type="email" class="form-control" id="ask_title"
                              placeholder="Суть вопроса" rows="2"></textarea>
                    <small>Сформулируйте вопрос так, чтобы сразу было понятно, о чём речь.</small>
                </div>

                <div class="form-group mt-4">
                    <textarea type="email" class="form-control" id="ask_content"
                              placeholder="Детали вопроса" rows="7"></textarea>
                    <small>Опишите в подробностях свой вопрос, чтобы получить более точный ответ.</small>
                </div>

                <div class="form-group row mt-4">
                    <label for="ask_name" class="col-form-label">Рубрика</label>
                    <div class="col-sm-8">
                        <textarea type="email" class="form-control" id="ask_content"
                                  placeholder="" rows="1"></textarea>
                        <small>Выбирите одну или несколько тем, что Ваш вопрос увидел компетентные юрист.
                            Начните вводить тему.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ask_name" class="col-form-label">Прикрепить файлы</label>
                    <div class="col-sm-8">
                        <button type="file" class="btn btn-sm btn-outline-primary" id="ask_file">
                            <span class="icon-folder mr-2"></span> Обзор
                        </button>

                        <div class="file-loader" data-filename="Договор.docx">
                            <i class="bar"><i style="width:35%;"></i></i></div>

                        <div class="file-loader"
                             data-filename="Протокол заседания арбитражного суда Кировского района.docx">
                            <i class="bar"><i style="width:4%;"></i></i></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ask_name" class="col-form-label required">Ваше имя</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ask_name" placeholder="Ваше имя">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ask_email" class="col-form-label required">Электронный ящик</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="ask_email" required placeholder="Электронный ящик">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-4" style="float: right;">
                    Задать вопрос<span class="icon-nav-arrow-right ml-2"></span></button>

            </form>

        </div>

    </section>
    <br>
{% endcomment %}

{% endblock %}