{% extends 'front/base.html' %}

{% block content %}
    <section class="blue lawyer-page">

        <div class="container">
            <div class="row">
                <div class="l-col">
                    <svg height="0" width="0">
                        <defs>
                            <clipPath id="photoSvgPath">
                                <path style="position:absolute;top:0;left:0;"
                                      d="M0.014,0.001 L0.014,57.857 L0.014,224.998 C0.014,224.998 0.014,228.330
                                      0.014,231.427 C0.014,296.516 85.276,347.997 150.003,359.997 C214.729,347.997
                                      299.992,296.516 299.992,231.427 C299.992,228.330 299.992,224.998 299.992,224.998
                                      L299.992,0.000 L279.993,0.000 L259.995,0.000 L86.674,0.000 L0.014,0.001 Z"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <svg class="photo">
                        <image width="300" height="380" xmlns:xlink="http://www.w3.org/1999/xlink"
                               xlink:href="https://res.cloudinary.com/svem/image/upload/c_fill,h_720,w_618/v1468947524/7QC_0328-3_ihqr8z.jpg">
                        </image>
                    </svg>

                </div>
                <div class="r-col">
                    <h1>Авсюков Кирилл Владимирович</h1>
                    <div class="lead">Профессиональный юрист в Волгограде<br>
                        <small>Волгоград</small>
                    </div>
                    <button type="button">Задать вопрос <i class="icon-message_bubble ml-2"></i></button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}