{% extends 'front/base.html' %}

{% block content %}
    <section class="blue">
        <div class="container" style="z-index: 1;">
            <div class="row">
                <div class="title col-7 ml-auto">
                    <h1>Авсюков Кирилл Владимирович</h1>
                    <div class="lead">Профессиональный юрист в Волгограде</div>
                    <button type="button" class="btn btn-sm btn-white mt-4">
                        Задать вопрос <i class="icon-message_bubble ml-2"></i></button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}