{% extends 'front/base.html' %}
{% load cropping %}
{% load static %}
{% load number %}

{% block title %}{{ lawyer.info.title|default:lawyer.get_role_display }}, {{ lawyer.get_full_name }}.
    {% if lawyer.city.name %}г. {{ lawyer.city.name }}{% endif %}{% endblock %}

{% block og_meta %}
    <meta property="og:title"
          content="{{ lawyer.info.title|default:lawyer.get_role_display }}, {{ lawyer.get_full_name }}.
    {% if lawyer.city.name %}г. {{ lawyer.city.name }}{% endif %}"/>
    <meta property="og:description" content="{{ lawyer.short }}"/>
    <meta property="og:image" content="{% include 'account/generic/pic.html' with item=lawyer %}"/>
    <meta property="og:type" content="profile"/>
    <meta property="og:url" content="{{ SITE_URL }}{{ lawyer.get_absolute_url }}"/>
{% endblock %}

{% block content %}
    <div class="lawyer-page">

        {% include 'front/generic/lawyer_header.html' %}

        {# Медальки, информация о себе, контакты, вкладки (биграфия, отзывы, ответы)  #}
        <div class="lawyer-page_about">

            <div class="lawyer-page_container">

                <div class="row">
                    <div class="lawyer-page_about_l-col">
                        {% if lawyer.rating.get_rate %}
                            <div class="medal" data-back="&#xe925;" data-value="{{ lawyer.rating.get_rate }}">рейтинг
                            </div>
                        {% else %}
                            <div class="medal light" data-back="&#xe924;" data-value="">нет
                                рейтинга
                            </div>
                        {% endif %}
                        {% if lawyer.info.stage %}
                            <div class="medal blue" data-back="&#xe91e;" data-value="{{ lawyer.info.stage }}">опыт, лет
                            </div>
                        {% else %}
                            <div class="medal light" data-back="&#xe91e;" data-value="">нет опыта</div>
                        {% endif %}
                    </div>
                    <div class="lawyer-page_about_r-col">
                        <div class="lead">
                            {{ lawyer.info.html_about|default:"<p>Юрист зарегистрированный на Мойюрист.онлайн</p>"|safe }}
                        </div>
                        <dl>
                            <dt>Зарегистрирован</dt>
                            <dd>{{ lawyer.date_joined }}</dd>

                            <dt>Последний визит</dt>
                            <dd>{{ lawyer.last_login }}</dd>

                            {% for cnt in lawyer.contact.all %}
                                <dt>{{ cnt.get_type_display }}</dt>
                                <dd>{{ cnt.value|urlize }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <nav class="col-12">
                        <a id="show-bio" href="#" class="active"><i class="icon-paper-text"></i><span> Биография</span></a>
                        <a id="show-review" href="#"><i class="icon-people"></i><span> Отзывы</span></a>
                        <a id="show-question" href="#"><i class="icon-message_bubble"></i><span> Ответы</span></a>
                        <script>
                            $('#show-bio').click(function (e) {
                                e.preventDefault();
                                $('#bio').removeClass('d-none');
                                $('#review').addClass('d-none');
                                $('#question').addClass('d-none');
                            });
                            $('#show-review').click(function (e) {
                                e.preventDefault();
                                $('#review').removeClass('d-none');
                                $('#bio').addClass('d-none');
                                $('#question').addClass('d-none');
                            });
                            $('#show-question').click(function (e) {
                                e.preventDefault();
                                $('#question').removeClass('d-none');
                                $('#bio').addClass('d-none');
                                $('#review').addClass('d-none');
                            });
                            $('[id ^= show-]').click(function (e) {
                                $('[id ^= show-]').removeClass('active');
                                $(this).addClass('active');
                            });
                        </script>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr class="mt-5">
                    </div>
                </div>

            </div>

        </div>

        {# Содержание вкладок #}
        <div class="lawyer-page_content mt-3">

            <div class="lawyer-page_container">

                <div id="bio" class="row">

                    {# Образование #}
                    {% if lawyer.education.all|length %}
                        <div class="lawyer-page_l-col text-lg-right">
                            <h3 class="mb-4">Образование</h3>
                        </div>

                        <div class="lawyer-page_r-col">
                            {% for edu in lawyer.education.all %}
                                {% include 'account/education_item.html' with item=edu %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {# Опыт работы #}
                    {% if lawyer.experience.all|length %}
                        <div class="lawyer-page_l-col text-lg-right">
                            <h3 class="mb-4">Опыт работы</h3>
                        </div>

                        <div class="lawyer-page_r-col">
                            {% for edu in lawyer.experience.all %}
                                {% include 'account/experience_item.html' with item=edu %}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                <div id="review" class="d-none row">
                    <div class="container">
                        {% for like in likes %}
                            {% include 'review/generic/review_item.html' with like=like %}
                        {% endfor %}
                        <div class="text-center mb-5">
                            <a href="{% url 'front:lawyer_reviews' lawyer.pk %}" class="btn btn-sm btn-outline-primary">Все
                                отзывы юриста</a>
                        </div>
                    </div>
                </div>

                <div id="question" class="d-none row questions-section">
                    <div class="container">
                        <h3 class="mb-4">Юрист оказал {{ questions_count|number:'консультацию|консультации|консультаций'  }}</h3>
                        {% for question in questions %}
                            {% include 'question/generic/question_item_in_list.html' with item=question show_answers=False %}
                        {% endfor %}
                        <div class="text-center mb-5">
                            <a href="{% url 'questions:list' %}?lawyer={{ lawyer.pk }}">Все консультации юриста&nbsp;&rarr;</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}