{% extends 'front/base.html' %}
{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div id="page" class="clear span-12 prepend-top">

                    <h1 class="h2 mb-5">Мы обновили дизайн и домен проекта Svem.ru</h1>

                    <p>Здравствуйте, уважаемые посетители и юристы.</p>
                    <p>Теперь у проекта Svem.ru новый дизайн и домен: «Мойюрист.онлайн».</p>
                    <p>Если вы зарегистрированы в качестве юриста на сайте Svem.ru, то что бы авторизоваться на
                        Мойюрист.онлайн, воспользуйтесь <a href="/auth/forgot">восстановлением пароля</a>.</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}