{% with advice_context.advice as advice %}

    {% if advice.expert_id == user.pk %}

        {% if advice.status == 'payment_confirmed' %}

            <div class="alert alert-secondary">
                <h5 class="alert-heading">Принять или отказаться от заявки.</h5>
                <p>Через {{ advice_context.overdue_time }} мин. заявка будет прострочена и перейдёт другому юристу.</p>
                <hr>
                <button type="button" class="btn btn-danger btn-sm">
                    Отказаться
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle">
                        Принять
                    </button>
                    <div class="d-block dropdown-menu">
                        <div class="dropdown-header">Отвечу через:</div>
                        <a class="dropdown-item" href="#">1 час</a>
                        <a class="dropdown-item" href="#">2 часа</a>
                        <a class="dropdown-item" href="#">3 часов</a>
                        <a class="dropdown-item" href="#">4 часов</a>
                        <a class="dropdown-item" href="#">6 часов</a>
                        <a class="dropdown-item" href="#">12 часов</a>
                        <a class="dropdown-item" href="#">24 часов</a>
                    </div>
                </div>
            </div>

        {% elif advice.status == 'inwork' %}

            {% include 'entry/generic/form_reply.html' with on_question=question.id %}

        {% endif %}

    {% endif %}

{% endwith %}
