@charset "UTF-8";

.question-page_header {

  padding-top: line(2);
  padding-bottom: line(2);

  background: {
    position: center;
    size: cover;
  }

  &.bg-1 {
    background: {
      image: url("#{$img_dir}/bgr/bg-1.jpg");
    }
  }

  &.bg-2 {
    background: {
      image: url("#{$img_dir}/bgr/bg-2.jpg");
    }
  }

  .l-col {
    @extend .col-12, .col-lg-5, .ml-auto, .d-flex, .flex-column, .justify-content-center;
    color: $white;
    h2 {
      @extend .pb-lg-4;
    }
    p {
      @extend .lead, .pb-lg-4;
    }
    .tel {
      color: rgb(255, 255, 204);
      white-space: nowrap;
      font-weight: $font-weight-semibold;
    }
    .phone {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .r-col {
    @extend .col-12, .col-lg-5, .mr-auto;
    form {
      padding: line(2);
      background-color: $white;
      border-radius: line(1);
      & > * {
        @extend .mb-1;
        display: inline-block;
        width: 100%;
        @include media-breakpoint-down(md) {
          width: auto;
        }
      }
      button {
        @extend .btn, .btn-primary, .btn-lg;
      }
      textarea {
        @extend .border, .p-2, .d-none, .d-lg-block;
        border-radius: $border-radius-lg;
        height: line(8.5);
      }
      @include media-breakpoint-down(md) {
        background: none;
        padding: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    .l {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    .s {
      display: none;
    }
  }
}

.question-page_container {
  @extend .container;
  @include media-breakpoint-down(lg) {
    max-width: none;
  }
}

.question-page_gradient {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: line(10);
    top: 0;
    left: 0;
    right: 0;
    margin-left: -1000px;
    margin-right: -1000px;
    background: linear-gradient(180deg, $gray-100, $white);
  }
}

.question-page_main-part {
  @extend .col-12, .col-md-9, .col-lg-9;
  padding-right: line(2.25);
  @include media-breakpoint-down(lg) {
    padding-right: line(1);
  }
  @include media-breakpoint-down(sm) {
    padding-right: $grid-gutter-width / 2;
  }
}

.question-page_aside-part {
  @extend .col-12, .col-md-3, .col-lg-3;
  padding-left: line(2.25);
  @include media-breakpoint-down(lg) {
    padding-left: line(1);
  }
}

// Левая и правая колонки для вопроса, ответа
.question-page_l-col {
  @extend .col-12, .col-lg-3, .ml-auto, .text-lg-right, .normal;
  color: $gray-500;
  line-height: line(1);
}

.question-page_r-col {
  @extend .col-12, .col-lg-9;
}

.entry {

  position: relative;

  .content {
    .text {
      font-size: $font-size-lg;
    }
    .text-lead {
      @extend .lead;
      font-weight: $font-weight-light;
    }
  }

  .answer-header {
    @extend .row, .align-items-center, .mb-2;
    @include media-breakpoint-down(md) {
      .question-page_l-col {
        position: absolute;
        right: $grid-gutter-width/2;
        width: auto;
      }
      .question-page_r-col {
        padding-right: line(4)+$grid-gutter-width*1.5;
      }
    }
  }

  .answer-header_photo {
    display: inline-block;
    width: line(4);
    height: line(4);
    @include media-breakpoint-down(sm) {
      width: line(2);
      height: line(2);
    }
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .answer-header_medal {
    @extend .lawyer-medal;
  }

  &.answer-push {
    padding-left: line(4);
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
    .answer-header_photo {
      width: line(2);
      height: line(2);
    }
  }

  .answer-footer {

  }

  .answer-like {
    @extend .d-flex, .align-items-center;
    .answer-like-sign {
      @extend .normal, .mr-2;
      color: $gray-500;
    }
    .answer-like-block {
      @extend .border;
      display: inline-flex;
      justify-content: center;
      border-radius: line(2);
      padding: line(.5) line(1);
      color: $gray-500;
      span {
        padding: 0 line(.5);
        font-weight: $font-weight-semibold;
      }
      i {
        font-size: line(1);
        cursor: pointer;
        &.noactive {
          color: $gray-200;
          cursor: auto;
        }
      }
      .icon-dislike:hover {
        color: $red;
        &.noactive {
          color: $gray-200;
        }
      }
      .icon-like:hover {
        color: $green;
        &.noactive {
          color: $gray-200;
        }
      }
    }
  }

}

.answer-list-head {
  margin-bottom: line(1);
  .answer__counter {
    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
}

/* список вопросов */
.question-item {

  .l-col {
    @extend .col-12, .col-md-3, .text-lg-right, .normal;
    color: $gray-500;
  }

  .r-col {
    @extend .col-12, .col-md-9;
  }

  .answer {
    @extend .r-col;
    .answer-header {
      @extend .normal, .d-flex, .align-items-center, .mb-3;
      .usr {
        @extend .mr-3;
        padding-right: 10px;
        a {
          display: inline-block;
          width: line(2);
          height: line(2);
          border-radius: 50%;
          margin-right: -10px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
    }
    p {
      color: $gray-600;
    }
  }
}

// Для главной страницы и списка вопросов в секции
.questions-section {
  .question-item {
    .r-col {
      @extend .col-lg-7;
    }
  }
}

.file-list-item {
  @extend .mb-1;
  &:before {
    @extend .mr-2;
    content: '\e911';
    font-family: icomoon;
    color: $gray-500;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.rubrics-list {
  @extend .normal;
}

.rubrics-list-item {
  &:before {
    @extend .mr-2;
    content: '\e908';
    font-family: icomoon;
    color: $gray-200;
  }
  &:after {
    @extend .mr-3;
    content: ',';
  }
  &:last-of-type {
    &:after {
      content: none;
    }
  }
  a {
    color: $gray-800;
  }
}

.questions-list_nav {
  .nav-link {
    &.active {
      color: $gray-900;
      font-weight: $font-weight-semibold;
    }
  }
}