{% load cropping %}

{% with advice_context.advice as item %}
    <div class="lawyer-list">

        <h5 class="consult-state {{ item.status }}">{{ item.get_status_display }}</h5>

        <p class="subtitle">Цена консультации</p>
        <p class="cost rub">{{ item.cost }}</p>

        {% if item.status == 'inwork' or item.status == 'answered' or item.status == 'addquestion' or item.status == 'closed' %}
            <p class="subtitle">Консультацию ведёт эксперт</p>
            {% with item.expert as expert %}
                <div class="consult-lawyer ">
                    <a class="pht" href="{% url 'front:lawyer_page' expert.pk %}"><img
                            src="{% include 'account/generic/photo.html' with item=expert %}"/></a>
                    <h6><a href="{% url 'front:lawyer_page' expert.pk %}">{{ expert }}</a></h6>
                </div>
            {% endwith %}
        {% else %}
            <p class="subtitle">Эксперт ещё не назначен</p>
        {% endif %}

        <div class="normal">
            {% if item.status == 'new' %}
                <p>Эксперт будет назначен после оплаты.</p>
                {% if item.question.author == user %}
                    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                        <input type="hidden" name="receiver" value="{{ advice_context.money_yandex_purse }}">
                        <input type="hidden" name="quickpay-form" value="shop">
                        <input type="hidden" name="formcomment" value="{{ advice_context.payment_form_title }}">
                        <input type="hidden" name="label" value="advice.{{ item.question_id }}">
                        <input type="hidden" name="targets"
                               value="{{ advice_context.payment_form_target }}{{ item.question_id }}">
                        <input type="hidden" name="successURL" value="{{ SITE_URL }}{{ question_url }}">
                        <input type="hidden" name="sum" value="{{ advice_context.advice_cost }}" data-type="number">
                        <!--input type="hidden" name="paymentType" value="AC"/-->
                        <input class="btn btn-success btn-block" type="submit" value="Оплатить">
                    </form>
                {% endif %}
            {% elif item.status == 'paid' %}
                <p>Оплачено, ждём подтверждение оплаты.</p>
            {% elif item.status == 'payment_confirmed' %}
                <p class="mt-3">Идёт подбор эксперта по данному вопросу (обычно в течении 30 мин.)</p>

                    <!--, Эксперт назначен и оповещён.<!--, но еще не принял заявку.
                До принятия {{ advice_context.overdue_time }} мин. --></p>
            {% elif item.status == 'inwork' %}
                <p class="mt-3">Эксперт принял вопрос и ответит до {{ item.answered_date|date:'d b Y G:i' }} мск.</p>
            {% endif %}
        </div>

    </div>
{% endwith %}