<div v-if="success&&!loading&&(!($refs.upload&&$refs.upload.active))">
    <div v-if="require_confirm">
        требуется подвержнеие
    </div>
    <div v-else>
        вопрос задан
    </div>
</div>
<div v-else id="form">

    <div class="form-group">
        <input type="text" class="form-control" id="ask_title" v-model="title"
               :class="{'is-invalid': error_fields.title }"
               placeholder="Суть вопроса"/>
        <span class="invalid-feedback" v-if="error_fields.title">{{ error_fields.title }}</span>
        <small>Ваш вопрос, например: «Как уволиться без отработки?», или «Как взыскать алименты?»</small>
    </div>

    <div class="form-group mt-4">
                    <textarea class="form-control" id="ask_content" v-model="content"
                              :class="{'is-invalid': error_fields.content }"
                              placeholder="Детали вопроса" rows="7"></textarea>
        <span class="invalid-feedback" v-if="error_fields.content">{{ error_fields.content }}</span>
        <small>Опишите в подробностях свой вопрос, чтобы получить более точный ответ.</small>
    </div>

    <div class="form-group row mt-4">
        <label for="ask_rubric" class="col-form-label">Рубрика права</label>
        <div class="col-sm-8">
            <v-select
                    multiple
                    :options="options"
                    @search="onSearch"
                    v-on:search:blur="optionsInit"
                    id="ask_rubric"
                    label="name"
                    v-model="rubric"></v-select>
            <small>Правильно выбраная рубрика привлечёт экспертов, которые специализируются на Вашем вопросе.</small>
        </div>
    </div>


    <div class="form-group row mt-4">
        <label for="ask_file" class="col-form-label">Прикрепить файлы</label>
        <div class="col-sm-8">

            <file-upload
                    :post-action="post_action"
                    class="btn btn-sm btn-outline-primary"
                    extensions="gif,jpg,jpeg,png,webp,pdf,xls"
                    accept="image/png,image/gif,image/jpeg,image/webp,application/pdf,application/vnd.ms-excel"
                    :multiple="true"

                    :size="1024 * 1024 * 100"
                    v-model="files"
                    ref="upload"><span class="icon-folder mr-2"></span> Обзор
            </file-upload>


            <div v-for="(file, index) in files" class="file-loader" :data-filename="file.name">
                <i class="bar" :id="file.id"><i style="width:100%;"></i></i>
                <a href="#" @click.prevent="$refs.upload.remove(file)" class="close"><i class="icon-cancel"></i></a>
            </div>

        </div>
    </div>

    <h3>Тип консультации</h3>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" :class="{ active: is_paid_question }"
           @click="is_paid_question=true">
            <div class="d-flex justify-content-between">
                <div class="pr-4">
                    <h5>Развёрнутая письменная консультация</h5>
                    <p>Вам будет назначен персональный юрист,
                        который специализируется в Вашем вопросе. Он подробно разберёт ситуацию, предложит план
                        действий, ответит на все дополнительные вопросы.</p>
                    <p class="small">Если Вы будете не довольны качеством услуг, то вернём деньги. Стоимость
                    консультации фиксированная и состовляет: 800₽.</p>
                </div>
                <div>800₽</div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action" @click="is_paid_question=false"
           :class="{ active: !is_paid_question }">
            <div class="d-flex justify-content-between">
                <div class="pr-4">
                    <h5>Бесплатная консультация</h5>
                    <p>Нет гарантии ответа, консультация краткая. Юрист может предложить платные
                        услуги, если вопрос сложный.</p>
                </div>
            </div>
        </a>
    </div>

    <div id="user_data">
        <h3>Личные данные</h3>
        <div class="form-group row">
            <label for="ask_email" class="col-form-label required">Электронный ящик</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="ask_email"
                       v-model="email"
                       :class="{'is-invalid': error_fields.email }"
                       placeholder="Электронный ящик">
                <span class="invalid-feedback" v-if="error_fields.email">{{ error_fields.email }}</span>
                <small>Не публикуется! Введите действующий почтовый ящик, что бы вопрос был опубликован.</small>
            </div>

        </div>

        <div class="form-group row">
            <label for="ask_name" class="col-form-label required">Ваше имя</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="ask_name"
                       v-model="name"
                       :class="{'is-invalid': error_fields.name }"
                       placeholder="Ваше имя">
                <span class="invalid-feedback" v-if="error_fields.name">{{ error_fields.name }}</span>
                <small>Как к Вам обращаться юристам на сайте?</small>
            </div>
        </div>

        <div class="form-group row">
            <label for="ask_city" class="col-form-label">Город</label>
            <div class="col-sm-8" :class="{'is-invalid': error_fields.city }">
                 <v-select
                     :class="{'is-invalid': error_fields.city }"
                    :options="options_city"
                     v-on:input="cityInptut"
                    @search="getCity"
                    id="ask_city"

                    label="name"
                    v-model="city"></v-select>
                <small>Город необходимо указать, что бы специалист мог учитывать региональные различия в
                    законодательстве.</small>
                <span class="invalid-feedback" v-if="error_fields.city">{{ error_fields.city }}</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="ask_phone" class="col-form-label required">Телефон</label>
            <div class="col-sm-8">
                <input type="tel" class="form-control"
                       v-model="phone"
                       :class="{'is-invalid': error_fields.phone }"
                       id="ask_phone" placeholder="Номер телефона">
                <small>Не публикуется! Используется юристом для уточненение сути вопроса, при необходимости.</small>
                <span class="invalid-feedback" v-if="error_fields.phone">{{ error_fields.phone }}</span>
            </div>
        </div>


    </div>


    <button type="submit"
            @click="save"
            class="btn btn-primary mt-4"
            style="float: right;"
            :disabled='loading||success||($refs.upload&&$refs.upload.active)'>
        <span v-if="loading||($refs.upload&&$refs.upload.active)">Загрузка...</span>
        <span v-else-if="success">Вопрос задан</span>
        <span v-else>Задать вопрос<span class="icon-nav-arrow-right ml-2"></span></span>
    </button>

    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
        <input type="hidden" name="receiver" value="4100155188774">
        <input type="hidden" name="quickpay-form" value="shop">
        <input type="hidden" name="referer" value="http://мойюрист.онлайн">
        <input type="hidden" name="formcomment" value="Мойюрист.онлайн — юридическая консультация онлайн">
        <input type="hidden" name="label" value="vip_question.456456">
        <input type="hidden" name="targets" value="Развёрнутая юридическая консультация. Вопрос №456456">
        <input type="hidden" name="successURL" value="http://мойюрист.онлайн/вопрос/456456/успешная-оплата/">
        <input type="hidden" name="sum" value="800" data-type="number">
        <input type="hidden" name="paymentType" value="AC" />
        <input type="submit" value="Перевести">
    </form>

</div>