<div id="form">

    <div class="form-group">
        <input type="text" class="form-control" id="ask_title" v-model="title"
               :class="{'is-invalid': error_fields.title }"
               placeholder="Суть вопроса"/>
        <span class="invalid-feedback" v-if="error_fields.title">{{ error_fields.title }}</span>
        <small class="text-muted">Ваш вопрос, например: «Как уволиться без отработки?», или «Как взыскать алименты?»
        </small>
    </div>

    <div class="form-group mt-4">
                    <textarea class="form-control" id="ask_content" v-model="content"
                              :class="{'is-invalid': error_fields.content }"
                              placeholder="Детали вопроса" rows="7"></textarea>
        <span class="invalid-feedback" v-if="error_fields.content">{{ error_fields.content }}</span>
        <small class="text-muted">Опишите в подробностях свой вопрос, чтобы получить более точный ответ.</small>
    </div>

    <div class="form-group row mt-4">
        <label for="ask_rubric" class="col-form-label">Рубрика права</label>
        <div class="col-sm-8">
            <v-select
                    multiple
                    :options="options"
                    @search="onSearch"
                    v-on:search:blur="optionsInit"
                    v-on:input="onInputRubric"
                    id="ask_rubric"
                    label="name"
                    v-model="rubric"></v-select>
            <small class="text-muted">Правильно выбраная рубрика привлечёт экспертов, которые специализируются на Вашем
                вопросе.
            </small>
        </div>
    </div>


    <div class="form-group row mt-4">
        <label for="ask_file" class="col-form-label">Прикрепить файлы</label>
        <div class="col-sm-8">

            <file-upload
                    :post-action="post_action"
                    class="btn btn-sm btn-outline-primary"
                    extensions="gif,jpg,jpeg,png,webp,pdf,xls"
                    accept="image/png,image/gif,image/jpeg,image/webp,application/pdf,application/vnd.ms-excel"
                    :multiple="true"

                    :size="1024 * 1024 * 100"
                    v-model="files"
                    ref="upload"><span class="icon-folder mr-2"></span> Обзор
            </file-upload>


            <div v-for="(file, index) in files" class="file-loader" :data-filename="file.name">
                <i class="bar" :id="file.id"><i :style="{width: file.progress + '%'}"></i></i>
                <a href="#" @click.prevent="$refs.upload.remove(file)" class="close"><i class="icon-cancel"></i></a>
            </div>

        </div>
    </div>

    <div id="user_data" v-if="is_require_form">
        <h3>Личные данные</h3>
        <div class="form-group row" v-if="is_require_email">
            <label for="ask_email" class="col-form-label required">Электронный ящик</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="ask_email"
                       v-model="email"
                       :class="{'is-invalid': error_fields.email }"
                       placeholder="Электронный ящик">
                <span class="invalid-feedback" v-if="error_fields.email">{{ error_fields.email }}</span>
                <small class="text-muted">Не публикуется! Введите действующий почтовый ящик, что бы вопрос был опубликован.</small>
            </div>

        </div>

        <div class="form-group row" v-if="is_require_name">
            <label for="ask_name" class="col-form-label required">Ваше имя</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="ask_name"
                       v-model="name"
                       :class="{'is-invalid': error_fields.name }"
                       placeholder="Ваше имя">
                <span class="invalid-feedback" v-if="error_fields.name">{{ error_fields.name }}</span>
                <small class="text-muted">Как к Вам обращаться юристам на сайте?</small>
            </div>
        </div>

        <div class="form-group row" v-if="is_require_city">
            <label for="ask_city" class="col-form-label">Город</label>
            <div class="col-sm-8" :class="{'is-invalid': error_fields.city }">
                <v-select
                        :class="{'is-invalid': error_fields.city }"
                        :options="options_city"
                        v-on:input="cityInptut"
                        @search="getCity"
                        id="ask_city"
                        label="name"
                        v-model="city"></v-select>
                <small class="text-muted">Город необходимо указать, что бы специалист мог учитывать региональные
                    различия в законодательстве.
                </small>
                <span class="invalid-feedback" v-if="error_fields.city">{{ error_fields.city }}</span>
            </div>
        </div>

        <div class="form-group row" v-if="is_require_phone">
            <label for="ask_phone" class="col-form-label required">Телефон</label>
            <div class="col-sm-8">
                <masked-input type="tel" class="form-control"
                              v-model="phone"
                              mask="\+\7 (111) 111-11-11"
                              :class="{'is-invalid': error_fields.phone }"
                              id="ask_phone" placeholder="Номер телефона"></masked-input>
                <small class="text-muted">Не публикуется! Используется юристом для уточненение сути вопроса, при
                    необходимости.
                </small>
                <span class="invalid-feedback" v-if="error_fields.phone">{{ error_fields.phone }}</span>
            </div>
        </div>


    </div>

    <h3>Тип консультации</h3>

    <div class="card-deck">
        <div class="card"
             :class="{ active: is_paid_question }"
             @click="is_paid_question=true">
            <div class="card-header text-center">
                <h5 class="my-0 font-weight-semibold">«Персональный юрист»</h5>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title text-center">{{ advice_cost }}
                    <small class="text-muted">руб.</small>
                </h2>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="mb-3"><i class="icon-person mr-2 text-primary"></i>Вам будет назначен персональный
                        юрист, который специализируется в вашем вопросе;</li>
                    <li class="mb-3"><i class="icon-star mr-2 text-primary"></i>Полная, подробная консультация до
                        решения вопроса;</li>
                    <li class="mb-3"><i class="icon-forum mr-2 text-primary"></i>Неограниченное количество
                        дополнительных вопросов;</li>
                    <li class="mb-3"><i class="icon-lightning mr-2 text-primary"></i>Контроль качества ответов;</li>
                    <li><i class="icon-wallet mr-2 text-primary"></i>Возврат денег,
                        если вас не устроит качество услуги.</li>
                </ul>
                <button type="submit"
                        @click="save_paid"
                        class="btn btn-success btn-sm mx-auto d-block mx-auto mt-3"
                        :disabled='loading||success||($refs.upload&&$refs.upload.active)'>
                    <span v-if="loading||($refs.upload&&$refs.upload.active)">Загрузка...</span>
                    <span v-else-if="success">Вопрос задан</span>
                    <span v-else>Оплатить услугу</span>
                </button>
            </div>
        </div>
        <div href="#" class="card" @click="is_paid_question=false"
             :class="{ active: !is_paid_question }">
            <div class="card-header text-center">
                <h5 class="my-0 font-weight-semibold">Бесплатная консультация</h5>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <h2 class="card-title pricing-card-title text-center">0
                    <small class="text-muted">руб.</small>
                </h2>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="mb-3">Краткий совет;</li>
                    <li class="mb-3">Гарантии ответа нет;</li>
                </ul>
                <p class="text-muted">Юрист может предложить решить ваш вопрос платно, если ответ подразумевает
                    достаточно длительную работу над вопросом.
                </p>
                <button type="submit"
                        @click="save"
                        class="btn btn-outline-primary btn-sm d-block mx-auto mt-3"
                        :disabled='loading||success||($refs.upload&&$refs.upload.active)'>
                    <span v-if="loading||($refs.upload&&$refs.upload.active)">Загрузка...</span>
                    <span v-else-if="success">Вопрос задан</span>
                    <span v-else>Задать вопрос<!--span class="icon-nav-arrow-right ml-2"></span--></span>
                </button>
            </div>
        </div>
    </div>


    <!--form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
        <input type="hidden" name="receiver" value="{MONEY_YANDEX_PURSE}">
        <input type="hidden" name="quickpay-form" value="shop">
        <input type="hidden" name="referer" value="http://мойюрист.онлайн/задать-вопрос/">
        <input type="hidden" name="formcomment" value="{settings.PAYMENT_FORM_TITLE}">
        <input type="hidden" name="label" value="advice.456456">
        <input type="hidden" name="targets" value="{PAYMENT_FORM_TARGET}">
        <input type="hidden" name="successURL" value="http://мойюрист.онлайн/вопрос/456456/здесь можно ключ сгенерить
        аналог того, что на почту приходит. Этот ключ будет разблокировать вопрос после оплаты/">
        <input type="hidden" name="sum" value="{advice.sittings.ADVICE_COST}" data-type="number">
        <input type="hidden" name="paymentType" value="AC" />
        <input type="submit" value="Перевести">
    </form-->

</div>