.badge-price {
  position: relative;
  @extend .normal;
  font-weight: $font-weight-normal;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
&:after {
  content: '';
  background-color: $white;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: -4px;
  margin-left: 6px;
  border-radius: 50%;
}

  /* &:after {
    // content: '';
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 40%;
    top: 0;
    background-image: url("/static/img/badge/price.svg");
    background-repeat: no-repeat;
    background-position: 100%;
  } */
}