.btn {
  cursor: pointer;
  border: {
    width: 2px;
  }
}

.btn-sm {
  border-width: 1px;
}

.btn-onbar {
  border-color: #d5e1fe;
  background: transparent;
  color: $white;
  &:hover {
    border-color: $dark-blue;
    background-color: $dark-blue;
  }
  &.sq {
    width: 39px;
    height: 39px;
    font-size: 1rem;
  }
  &.active {
    color: $red;
    &:not(:hover) {
      border-color: white;
      background-color: white;
    }
  }
}


%btn-soc {
  color: white;
  width: 70px;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.5rem;
}

.btn-vk {
  @extend %btn-soc;
  background-color: #2d69bd;
  &:hover {
    background-color: lighten(#2d69bd, 10%);
  }
}

.btn-od {
  @extend %btn-soc;
  background-color: #ff9934;
  &:hover {
    background-color: lighten(#ff9934, 10%);
  }
}

.btn-ml {
  @extend %btn-soc;
  background-color: #0078c2;
  &:hover {
    background-color: lighten(#0078c2, 10%);
  }
}

.btn-fb {
  @extend %btn-soc;
  background-color: #527ebf;
  &:hover {
    background-color: lighten(#527ebf, 10%);
  }
}

.btn-tw {
  @extend %btn-soc;
  background-color: #00aee8;
  &:hover {
    background-color: lighten(#00aee8, 10%);
  }
}

.btn-gl {
  @extend %btn-soc;
  background-color: #e34c3b;
  &:hover {
    background-color: lighten(#e34c3b, 10%);
  }
}


