.card-columns {
  @include media-breakpoint-down(md) {
    column-count: 2;
  }
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
}

.card {
  .close {
    position: absolute;
    right: $spacer/2;
    top: $spacer/2;
    font-size: 1rem;
    cursor: pointer;
    color: $gray-600;
  }
}