form {
  label {
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
  }
  color: $gray-600;
}

.form-control {
  font-size: $font-size-base;
  &.is-valid, &.is-invalid {
    border: {
      width: 2px;
    }
  }
}

.form-group {
  font-size: $font-size-base;
  .invalid-feedback, .valid-feedback {
    @extend small;
  }
}

.col-form-legend {
  font-size: $font-size-base;
}

.form-check-label {
  font-size: $font-size-base;
  // font-weight: $font-weight-normal;
  // color: $gray-700;
}

.col-form-label {
  text-align: right;
  @include media-breakpoint-down(xs) {
    text-align: left;
  }
  @extend .col, .mr-3, .pr-4;
  &.required {
    &:after {
      position: absolute;
      right: 0;
      content: '*';
      color: $red;
    }
  }
}

.form-check-input {
  &[type="checkbox"]:not(:checked),
  &[type="checkbox"]:checked,
  &[type="radio"]:not(:checked),
  &[type="radio"]:checked {
    display: none;
  }

  // рамка чекбокса
  &[type="checkbox"], &[type="radio"] {
    + label {
      padding-left: 3px;
    }
    + label:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0px;
      width: 18px;
      height: 18px;
      z-index: 0;
      border: 1px solid $gray-500;
      border-radius: 2px;
    }
    + label:after {
      content: '';
      font-family: icomoon;
      text-align: center;
      line-height: 16px;
      font-size: 16px;
      content: '';
      position: absolute;
      top: 3px;
      left: 1px;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      z-index: 1;
      transition: .3s;
    }
    &:checked + label:after {
      border-color: $gray-200;
      content: '\e900';
    }
    &:disabled {
      + label, + label:after {
        color: $gray-500;
      }
      + label:before {
        border-color: $gray-100;
      }
    }
  }
  // поправка для radio
  &[type="radio"] {
    + label:before, + label:after {
      border-radius: 50%;
    }
    &:checked + label:after {
      content: '';
      border: 3px solid white;
      background-color: $gray-600;
    }
  }

}

.file-input {
  input {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    display: block;
  }
  position: relative;
  overflow: hidden;
  cursor: pointer;
}