$form-font-size: $font-size-base * 1.142857142857143;

form {
  font-size: $form-font-size;
  font-weight: $font-weight-semibold;
  color: $gray-600;
}

.form-control {
  font-size: $form-font-size;
  &.is-valid, &.is-invalid {
    border: {
      width: 2px;
    }
  }
}

.form-group {
  font-size: $form-font-size;
  .invalid-feedback, .valid-feedback {
    @extend small;
  }
}

.col-form-legend {
  font-size: $form-font-size;
}

.form-check-label {
  font-size: $font-size-base;
  // font-weight: $font-weight-normal;
  // color: $gray-700;
}

.form-check-input {
  &[type="checkbox"]:not(:checked),
  &[type="checkbox"]:checked,
  &[type="radio"]:not(:checked),
  &[type="radio"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }

  // рамка чекбокса
  &[type="checkbox"], &[type="radio"] {
    + label {
      padding-left: 3px;
    }
    + label:before {
      content: '';
      font-family: icomoon;
      line-height: 14px;
      font-size: 16px;
      position: absolute;
      top: 3px;
      left: 0px;
      width: 16px;
      height: 16px;
      z-index: 0;
      border: 1px solid $gray-500;
      border-radius: 2px;
      transition: .2s;
    }
    &:checked + label:before {
      border-color: $gray-200;
      content: '\e900';
    }
    &:disabled {
      + label {
        color: $gray-500;
      }
      + label:before {
        border-color: $gray-100;
      }
    }
  }
  // поправка для radio
  &[type="radio"] {
    + label:before {
      border-radius: 50%;
    }
    &:checked + label:before {
      content: '\e928';
    }
  }

}

/*&[type="checkbox"]:disabled + label:before { //
  border-color: $gray-100;
}*/
