.mlo-navbar {

  @extend .d-flex, .align-items-center, .justify-content-between;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  color: white;

  padding-left: line(1.5);
  padding-right: line(1.5);
  @include media-breakpoint-down(md) {
    padding-left: line(.5);
    padding-right: line(.5);
  }

  .mlo-navbar_addbar {
    display: none;
  }
}

.mlo-navbar_brand {
  position: relative;
  z-index: 1;
  img {
    padding: 0;
    width: 153px;
    height: 47px;
  }
}

.mlo-navbar_title {
  @extend .d-none, .d-md-block, .text-center;
  position: absolute;
  left: 0;
  right: 0;
  line-height: line(1);
  .t {
    @extend .large, .font-weight-semibold;
    display: block;
  }
  .tg, .g, .c {
    @extend .normal;
  }
  .tg {
    display: none;
  }
}

.mlo-navbar_actions {

  display: flex;
  position: relative;

  .action_item {
    display: block;
    @extend .ml-1, .px-3, .normal;
    text-decoration: none;
    font-weight: $font-weight-semibold;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: $border-radius;
    text-align: center;
    color: $white;
    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
    &.sq {
      width: 40px;
      padding: 0 !important;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top:0;left:0;
        width: 40px;
        height: 40px;
      }
    }
    &.active {
      color: $red;
      &:not(:hover) {
        border-color: white;
        background-color: white;
      }
    }
  }
}

.navbar-fixed .mlo-navbar, .navbar-fixed-always .mlo-navbar {
  @extend .bg-primary;
  position: fixed;
  height: 60px;
  padding-bottom: 0;
  padding-top: 0;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.3);

  .mlo-navbar_brand img {
    width: 115px;
    height: 34px;
  }

  .mlo-navbar_title {
    .tg, .t {
      display: inline;
    }
    .g {
      display: none;
    }
    @include media-breakpoint-down(md) {
      .t {
        //display: block;
      }
    }
  }

  .mlo-navbar_addbar {
    display: flex;
    @extend .align-items-center, .justify-content-between;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $blue;
    border-top: solid 1px white;
    padding-left: line(1.5);
    padding-right: line(1.5);
    @include media-breakpoint-down(sm) {
      padding-left: line(.5);
      padding-right: line(.5);
    }

    form.mlo-navbar_form {
      @extend .row, .d-flex, .align-items-center;
      height: 100%;
      width: 100%;
      color: $white;
      input.mlo-navbar_input {
        background-color: transparent;
        border: none;
        color: white;
        &::placeholder {
          color: rgba($white, .4);
        }
      }
    }

    .navbar_addbar_close {
      &:before {
        content: '\e906';
        font-family: icomoon;
      }
    }
  }
}

.navbar-fixed-always {
  margin-top: 60px;
}
