.file-loader {
  @extend .normal, .mb-2, .mt-2;
  position: relative;
  height: line(1.5);
  overflow: hidden;

  &:before {
    content: attr(data-filename);
    white-space: nowrap;
    position: absolute;
    display: block;
    margin-right: 2rem;
    z-index: 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: line(7);
    height: 1.5rem;
    display: block;
    text-align: right;
    background: linear-gradient(to right, rgba(255, 255, 255, .2), white);
  }

  .close {
    font-size: 1rem;
    color: $gray-500;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .bar {
    @extend .progress, .mt-1;
    margin-right: line(1.5);
    height: 4px;
    position: relative;
    top: line(1);
    & :first-child {
      content: '';
      @extend .progress-bar, .bg-secondary;
    }
  }
}