$slide-menu-width: 430px;
$slide-menu-width-mob: 260px;

#app, .slide-menu, .mlo-navbar {
  transition: all .2s;
}

// Затенение
.shaded {
  &:before {
    content: '';
    position: fixed;
    z-index: $zindex-modal-backdrop;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(33, 33, 33, .6);
  }
}

// Контейнер слайд-меню
.slide-menu {
  @extend .d-flex, .justify-content-between, .flex-column;
  width: $slide-menu-width;
  background-color: $gray-100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -$slide-menu-width;
  z-index: $zindex-modal;
  overflow-y: scroll;
  padding: line(1) line(1) line(3) line(2);
  ul {
    font-size: $h4-font-size;
    font-weight: $font-weight-light;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: line(2);
    li {
      margin-bottom: line(.9);
      a {
        text-decoration: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: $slide-menu-width-mob;
    right: -$slide-menu-width-mob;
    padding: line(1);
    ul {
      margin-top: line(1);
    }
  }
  .text {
    @extend .normal;
    color: $gray-500;
  }
}

// Гамбургер
.slide-menu-toggle {
  &:before {
    content: '\e907';
    font-family: icomoon;
  }
}

#app.open-slide-menu {
  overflow-y: hidden;
  margin-right: $slide-menu-width;
  margin-left: -$slide-menu-width;
  @include media-breakpoint-down(sm) {
    margin-right: $slide-menu-width-mob;
    margin-left: -$slide-menu-width-mob;
  }
  .mlo-navbar {
    @extend .shaded;
    .slide-menu-toggle {
      position: relative;
      z-index: $zindex-modal-backdrop+1;
      &:before {
        content: '\e906';
      }
    }
  }
  .slide-menu {
    right: 0;
  }
}