h5, h6 {
  font-weight: $font-weight-semibold;
}

h6 {
  line-height: 1.375em;
}

h5 {
  line-height: 1.3888889em;
}

h4 {
  line-height: 1.5em;
}

h3 {
  line-height: 1.3461539em;
  @include media-breakpoint-down(sm) {
    font-size: $h4-font-size;
    line-height: 1.5em;
  }
}

h2 {
  line-height: 1.25em;
  @include media-breakpoint-down(md) {
    font-size: $h3-font-size;
    line-height: 1.3461539em;
  }
  &.logo {
    margin-bottom: line(2);
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: line(1);
    }
    &:before {
      font-family: icomoon;
      content: '\e92b';
      font-size: 3.125rem;
      @include media-breakpoint-up(sm) {
        padding-right: 1.25rem;
        vertical-align: bottom;
      }
      @include media-breakpoint-down(sm) {
        padding-bottom: 20px;
        padding-right: 0;
        height:  3.125rem;
        display: block;
        text-align: center;
      }
    }
  }
}

h1 {
  line-height: 1.2037037em;
  @include media-breakpoint-down(md) {
    font-size: $h2-font-size;
    line-height: 1.25em;
  }
}

.subtitle {
  font: {
    size: ($font-size-base * .75);
    weight: $font-weight-semibold;
  }
  text-transform: uppercase;
  letter-spacing: 0.75pt;
  color: $gray-500;
}

.normal {
  font-size: $font-size-base * .875;
  line-height: line(1);
}

.large {
  font-size: $font-size-base * 1.125;
  line-height: 1.3888889em;
}

a.gray {
  color: $gray-800;
}