
.win-round {
  @extend .px-4, .px-md-5, .py-5, .mx-auto;
  background-color: white;
  border-radius: line(1);
  max-width: 770px;
  @include media-breakpoint-down(sm) {
    border-radius:0;
  }
  .l-col {
    @extend .col-12, .col-md-6;
    margin-bottom: line(3);
    @include media-breakpoint-down(sm) {
      margin-bottom: line(1);
    }
  }
  .r-col {
    @extend .col;
    margin-bottom: line(3);
  }
  .hr {
    @extend .col-12, .col-md-1;
    &:before {
      content: '';
      display: block;
      background-color: $gray-200;
      @include media-breakpoint-up(sm) {
        width: 1px;
        height: 100%;
        margin-left: 50%
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 1px;
        margin: line(2) 0;
      }
    }
  }
  .reg {
    @extend .normal, .text-muted;
    position: absolute;
    bottom: 0; left: 0;
    @extend .pl-4, .pl-md-5, .pb-5, .m-0;
  }
  .req {
    @extend .normal;
    margin-bottom: line(0.5);
    a {
      color: $gray-800;
    }
  }
}