<footer class="main-footer">
    <div>
        <div class="ttl">
            <a href="{% url 'front:terms_of_use' %}">Пользовательсткое соглашение</a><br>
            <div>Техническая поддержка: <a href="mailto:support@мойюрист.онлайн">support@мойюрист.онлайн</a></div>
            <!--a href="#">Карта сайта</a-->
        </div>
        <div class="mdd">
            <a href="https://vk.com/moiyurist.online"><span class="icon-vk"></span></a>
            <a href="https://fb.com/moiyurist.online"><span class="icon-fb"></span></a>
            <a href="https://twitter.com/moiyurist.online"><span class="icon-tw"></span></a>
        </div>
        <div class="cpr">© Мойюрист.онлайн — юридическая помощь в любое время, 2005–2018.
            <nobr>Дизайн — <a href="http://mortis.ru" rel="nofollow">mortis.ru</a></nobr>
        </div>
    </div>
</footer>
