<footer class="main-footer">
    <div>
        <div class="ttl">
            <a href="{% url 'terms_of_use' %}">Пользовательсткое соглашение</a><br>
            <a href="#">Карта сайта</a>
        </div>
        <div class="mdd">
            <a href="https://vk.com/moiyurist.online"><span class="icon-vk"></span></a>
            <a href="https://fb.com/moiyurist.online"><span class="icon-fb"></span></a>
            <a href="https://twitter.com/moiyurist.online"><span class="icon-tw"></span></a>
        </div>
        <div class="cpr">© Мойюрист.онлайн — Развёрнутая юридическая помощь, 2005–2015.
            <nobr>Дизайн — <a href="http://mortis.ru" rel="nofollow">mortis.ru</a></nobr>
        </div>
    </div>
</footer>
