{% load cropping %}

<div class="lawyer-card">
    <div class="lanyard"></div>
    <img src="{% include 'account/generic/photo.html' with item=item.user %}" alt="{{ item.user }}"/>
    <div class="lawyer-card-title">
        <h6><a href="{% url 'lawyer_page' item.user.pk %}">{{ item.user }}</a></h6>
        <p class="rating">{{ item.get_rate }}</p>
    </div>
    <div class="lawyer-card-body">
        <h6>{{ item.user.info.status|default:item.user.get_role_display }}</h6>
        <p>{{ item.user.info.short }}</p>
    </div>
</div>