{% load static %}

<nav class="mlo-navbar">

    <a class="mlo-navbar_brand" href="/">
        <img src="{% static "/img/nav/logo.svg" %}">
    </a>

    {% block navbar_title %}
        <div class="mlo-navbar_title">

            {% if user.hot_line_phone %}
                <span class="tg">горячая линия</span>
                <span class="t">{{ user.hot_line_phone }}</span>
                <span class="g">горячая линия</span>
            {% else %}
                <span class="tg">Консультация юриста онлайн</span>
                <span class="g">Консультация юриста онлайн</span>
            {% endif %}
            {% if  user.location.loc_id > 0 %}<span class="c">в {{ user.location.loc_name_loct }}</span>{% endif %}

        </div>
    {% endblock %}

    <div class="mlo-navbar_actions">
        {% if user.role == 2 %}
            <a href="{% url 'questions:list' %}" class="action_item d-none d-sm-inline-flex">Отвечать</a>
        {% else %}
            <a href="{% url 'ask_question' %}" class="action_item d-none d-sm-inline-flex">Спросить юриста</a>
        {% endif %}
        <!--a href="#" class="fix-navbar sq -active"><span class="icon-lightning"></span></a-->
        {% if user.is_authenticated and user.role > 0 %}
            <a href="{% url 'personal:edit' %}" class="action_item sq">
                <img src="{% include 'account/generic/pic.html' with item=user %}">
            </a>
        {% endif %}

        <a href="#" class="action_item slide-menu-toggle sq"></a>
    </div>

    {% block navbar_addbar %}{% endblock %}

</nav>
