{% load static %}

<nav class="mlo-navbar" :class="navbar_isfixed?'':'fixed'">
    <a class="mlo-navbar-brand" href="/">
        <img src="{% static "/img/nav/logo.svg" %}">
    </a>

    {% block navbar_title %}
    <div class="mlo-navbar-title">

        <span class="tg">горячая линия</span>
        <span class="t">8 (927) 080-66-66</span>
        <span class="g">горячая линия</span>
        <span class="c">в Москве</span>

    </div>
    {% endblock %}

    <div class="actions">
        <!--a href="#" class="d-none d-sm-inline-flex">Спросить юриста</a-->
        <!--a href="#" class="fix-navbar sq -active"><span class="icon-lightning"></span></a-->
        <a href="#" class="slide-menu-toggle sq"></a>
    </div>
</nav>