{% load static %}

<nav class="mlo-navbar fixed">

    <a class="mlo-navbar_brand" href="/">
        <img src="{% static "/img/nav/logo.svg" %}">
    </a>

    {% block navbar_title %}
        <div class="mlo-navbar_title">

            {% if user.hot_line_phone %}
            <span class="tg">горячая линия</span>
            <span class="t">{{ user.hot_line_phone }}</span>
            <span class="g">горячая линия</span>
            {% else %}
            <span class="tg">Консультация юриста</span>
            <span class="g">Консультация юриста</span>
            {% endif %}
            <span class="c">в {{ user.location.city_name_loc }}</span>

        </div>
    {% endblock %}

    <div class="mlo-navbar_actions">
        {% if user.is_authenticated and user.role == 2 %}
            <a href="{% url 'lawyer_page' user.pk %}" class="sq"><img
                    src="{% include 'account/generic/pic.html' with item=user %}"></a>
        {% endif %}
        {% if user.role == 2 %}
            <a href="{% url 'personal_questions:list' %}" class="d-none d-sm-inline-flex">Отвечать</a>
        {% else %}
            <a href="{% url 'ask_question' %}" class="d-none d-sm-inline-flex">Спросить юриста</a>
        {% endif %}
        <!--a href="#" class="fix-navbar sq -active"><span class="icon-lightning"></span></a-->
        <a href="#" class="slide-menu-toggle sq"></a>
    </div>

    {% block navbar_addbar %}{% endblock %}

</nav>
