<div class="slide-menu">

    <div>
        <p class="text">
            <!--span>Консультация юриста</span><br-->
            <span class="large font-weight-semibold"><a class="gray" href="tel:84955682478">8 495 568-24-78</a></span>
            <br>горячая линия в Москве
        </p>
        <p><a href="/auth/login/" class="btn btn-outline-primary btn-sm">Задать вопрос
            <i class="icon-message_bubble ml-2"></i></a></p>

        <ul>
            <li><a href="#">Как это работает?</a></li>
            <li><a href="#">Вопросы и ответы</a></li>
            <li><a href="#">Наши юристы</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">О проекте</a></li>
        </ul>
    </div>

    <footer>
        <p><a href="/auth/login/" class="btn btn-outline-primary btn-sm">Личный кабинет
            <i class="icon-person ml-2"></i></a></p>
        <p class="text">или <a class="gray" href="/auth/signin/">Зарегистрируйтесь</a> на
            сайте юридической помощи «Мойюрист.онлайн»</p>
    </footer>

</div>