<div class="slide-menu">

    <div>
        {% comment %}
        <!-- Убрал потому, что дубрирует информацию на navbar -->
        <p class="text">
            <!--span>Консультация юриста</span><br-->
            {% if user.hot_line_phone %}
            <span class="large font-weight-semibold">
                <a class="gray" href="tel:{{ user.hot_line_phone }}">{{ user.hot_line_phone }}</a>
            </span>
            <br>горячая линия в {{ user.location.loc_name_loct }}
            {% else %}
                <span>Консультация юриста в {{ user.location.loc_name_loct }}</span>
            {% endif %}
        </p>


        <p><a href="{% url 'ask_question' %}" class="btn btn-outline-primary btn-sm">Задать вопрос
            <i class="icon-message_bubble ml-2"></i></a></p>
        {% endcomment %}

        <ul>
            {% if user.is_authenticated and user.role == 2 %}
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="{% url 'personal:edit' %}">Редактировать профиль</a></li>
                <li><a href="{% url 'personal_questions:list' %}">Отвечать на вопросы</a></li>
            {% else %}
                <li><a href="{% url 'ask_question' %}">Задать вопрос юристу</a></li>
                <li><a href="{% url 'personal_questions:list' %}">Мои вопросы</a></li>
                <li><a href="#">Как это работает?</a></li>
                <li><a href="{% url 'questions:list' %}">Вопросы и ответы</a></li>
                <li><a href="#">Наши юристы</a></li>
                <li><a href="{% url 'reviews_page' %}">Отзывы</a></li>
                <li><a href="#">О проекте</a></li>
            {% endif %}
        </ul>
    </div>

    <footer>
        {% if user.is_authenticated %}
            <p><a href="/auth/logout/" class="btn btn-outline-primary btn-sm">Выйти
                <i class="icon-nav-arrow-right ml-1"></i></a></p>
            <p class="text">Вы авторизованы как {{ user.get_full_name }}</p>
        {% else %}
            <p>
                <a href="/auth/login/" class="btn btn-outline-primary btn-sm">Вход<i class="icon-person ml-2"></i></a>
            </p>
            <p class="text">или <a class="text-dark" href="/auth/registration/">Зарегистрируйтесь</a> на
                сайте юридической помощи «Мойюрист.онлайн»</p>
        {% endif %}
    </footer>

</div>