<header class="question-page_header {{ bg_class }}">
    <div class="container">
        <div class="row">
            <div class="l-col">
                <h2>
                    <span class="l">{% if title %}{{ title }}{% else %}Консультируйтесь с юристом онлайн{% endif %}</span>
                    <span class="s">{% if user.hot_line_phone %}Бесплатный звонок юристу{% else %}Получите<br>консультацию юриста<br><br>{% endif %}</span>
                </h2>
                {% if user.hot_line_phone %}
                <p class="phone">
                    <a class="tel" href="tel:{{ user.hot_line_phone }}">{{ user.hot_line_phone }}</a>
                </p>
                {% endif %}
                <p class="l">Бесплатные или платные юридические консультации, лучших юристов.</p>
            </div>
            <div class="r-col">
                <form method="post" action="{% url 'ask_question' %}">
                    {% csrf_token %}
                    <textarea class="l" id="question" name="text" placeholder="Опишите свою проблему...">{{ text }}</textarea>
                    <button type="submit">Задать вопрос</button>
                </form>
            </div>
        </div>
    </div>
</header>