<div id="form">
    <div class="form-group">
        <label for="reply" class="h6 mb-2">{{ title }}</label>
        <textarea class="form-control" v-model="content" :class="{'is-invalid': error_fields.content }" id="reply"
                  rows="5" placeholder="Мой ответ…"></textarea>
        <span class="invalid-feedback" v-if="error_fields.content">{{ error_fields.content }}</span>
    </div>
    <div class="form-group">
        <input type="hidden" v-model="question_id" name="question_id" />
        <input type="hidden" v-model="parent_id"  name="parent_id" />

        <button type="submit" @click="save" class="btn btn-primary">Отправить</button>
        <span class="ml-3 normal"><a href="#"><i class="mr-2 icon-folder"></i>Прикрепить файлы</a></span>
    </div>
</div>