{% extends 'front/base.html' %}
{% load static %}
{% load markdown %}

{% block content %}

    <div class="question-page">

        {# Хедер страницы вопроса #}
        {% include 'front/generic/header_question.html' %}

        {# Содержание страницы вопроса #}
        <div class="question-page-content">

            <div class="row">

                {# Основная часть — вопрос #}
                <main>

                    {# Вопрос #}
                    <article id="question-{{ question.pk }}" class="entry question" itemscope
                             itemtype="http://schema.org/Question">

                        {# Заголовок #}
                        <div class="row">
                            <h1 itemprop="name">{{ question.title }}</h1>
                        </div>

                        {# Инфо, текст #}
                        <div class="row">

                            <div class="l-col">
                                <time class="subtitle" datetime="{{ question.pub_date|date:"c" }}"
                                      itemprop="dateCreated">{{ question.pub_date|date:"SHORT_DATETIME_FORMAT" }}</time>
                                <br>
                                <span>№ {{ question.pk }}</span>
                                <br>
                                <span>{{ question.author.info.city.name }}</span>
                            </div>

                            <div class="r-col content">

                                {# Имя #}
                                <h5 class="my-3 mb-lg-1 mt-lg-0"
                                    itemprop="name">{{ question.author.get_full_name }}</h5>

                                {# Текст #}
                                <div class="text-lead" itemprop="text">{{ question.content|markdown|safe }}</div>

                                {# Файлы #}
                                {% if question.files.count %}
                                    <div class="files brick">
                                        {% for file in question.files.all %}
                                            <div class="file-item"><a
                                                    href="/storage/{{ file.file }}">{{ file.get_basename }}</a></div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <br class="my-4">

                                <button type="button" class="btn btn-outline-primary btn-sm">
                                    Ответить на вопрос <i class="ml-2 icon-pencil"></i></button>

                                {% include 'entry/generic/form_reply.html' with on_question=question.pk %}

                                <hr class="mb-4 mt-5">

                                {# Здесь ошибка VUE #}
                                {% include 'front/generic/yandex-share.html' %}

                                {# Рубрики #}
                                {% if question.rubrics.count %}
                                    <br>

                                    <p class="rubrics">{% for rubric in question.rubrics.all %}
                                        <span class="rubric-item"><a href="#">{{ rubric }}</a></span>
                                    {% endfor %}</p>
                                {% endif %}

                            </div>

                        </div>

                    </article>

                </main>

                {# Боковая колонка 1  #}
                <aside>

                    {% if question.is_pay %}
                        {% include 'entry/generic/consult_block.html' with item=question.consult.first %}
                    {% endif %}

                    {% if rating.count and not question.reply_count %}
                        {% include 'entry/generic/lawyer_rate.html' with items=rating %}
                    {% endif %}

                </aside>

            </div>

            {% if question.reply_count %}
            <div class="row gradient">

                {# Основная часть — ответы #}
                <main>
                    {# Ответы #}
                    {% if question.reply_count %}

                        <div class="row">
                            <h3 class="answer-list-head">Ответы экспертов
                                {% if question.reply_count %}<span class="answer__counter" id="answers_counter"
                                                                   itemprop="answerCount">{{ question.reply_count }}</span>{% endif %}
                            </h3>
                        </div>

                        {% for answer in answers %}
                            {% include 'entry/generic/answer_item.html' with item=answer %}
                        {% endfor %}

                    {% endif %}

                </main>

                {# Боковая колонка 2  #}
                <aside>

                    {% if rating.count and question.reply_count %}
                        {% include 'entry/generic/lawyer_rate.html' with items=rating %}
                    {% endif %}

                </aside>

            </div>
            {% endif %}

            {% comment %}<div class="row d-none">

                <main>

                    <div class="row">

                        <div class="l-col"></div>

                        <div class="r-col">

                            <form>
                                <div class="form-group">
                                    <label for="reply">Ответить:</label>
                                    <textarea class="form-control" id="reply" rows="10"
                                              placeholder="Введите ваш ответ…"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm">Ответить</button>
                                    <span class="ml-3 normal"><a href="#">
                                        <i class="mr-2 icon-folder"></i>Прикрепить файлы</a></span>
                                </div>
                            </form>

                        </div>
                    </div>

                </main>

            </div>{% endcomment %}

        </div>
    </div>

{% endblock %}
