{% extends 'front/base.html' %}
{% load static %}
{% load markdown %}

{% block content %}

    <div class="question-page">

        {# Хедер страницы вопроса #}
        <header class="page">
            <div class="container">
                <div class="row">
                    <div class="l-col">
                        <h2><span class="l">Консультируйся с юристом онлайн</span>
                            <span class="s">Бесплатный звонок юристу</span></h2>
                        <p class="phone"><span class="l">или по телефону: </span><a class="tel" href="tel:84955682478">8
                            495 568-24-78</a></p>
                        <p class="l">Бесплатные или платные юридические консультации, лучших юристов.</p>
                    </div>
                    <div class="r-col">
                        <form class="l" action="{% url 'ask_question' %}">
                            <textarea id="question" name="text" placeholder="Опишите свою проблему..."></textarea>
                            <button type="submit">Задать вопрос юристу</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        {# Содержание страницы вопроса #}
        <div class="question-page-content">

            <div class="row">

                {# Основная часть — вопрос #}
                <main>

                    {# Вопрос #}
                    <article id="question-{{ question.pk }}" class="entry question" itemscope
                             itemtype="http://schema.org/Question">

                        {# Заголовок #}
                        <div class="row">
                            <h1 itemprop="name">{{ question.title }}</h1>
                        </div>

                        {# Инфо, текст #}
                        <div class="row">

                            <div class="l-col">
                                <time class="subtitle" datetime="{{ question.pub_date|date:"c" }}"
                                      itemprop="dateCreated">{{ question.pub_date|date:"SHORT_DATETIME_FORMAT" }}</time>
                                <br>
                                <span>№ {{ question.pk }}</span><br>
                                <span>{{ question.author.info.city.name }}</span>
                            </div>

                            <div class="r-col content">

                                {# Имя #}
                                <h5 class="my-3 mb-lg-1 mt-lg-0"
                                    itemprop="name">{{ question.author.get_full_name }}</h5>

                                {# Текст #}
                                <div class="text-lead" itemprop="text">{{ question.content|markdown|safe }}</div>

                                {# Файлы #}
                                {% if question.files.count %}
                                    <div class="files brick">
                                        {% for file in question.files.all %}
                                            <div class="file-item"><a
                                                    href="/storage/{{ file.file }}">{{ file.get_basename }}</a></div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <br class="my-4">

                                <button type="button" class="btn btn-outline-primary btn-sm">
                                    Ответить на вопрос <i class="ml-2 icon-pencil"></i></button>

                                <hr class="mb-4 mt-5">

                                {% include 'front/generic/yandex-share.html' %}

                                {% if question.rubrics.count %}
                                    <br>
                                    <p class="rubrics">{% for rubric in question.rubrics.all %}
                                        <span class="rubric-item"><a href="#">{{ rubric }}</a></span>
                                    {% endfor %}</p>
                                {% endif %}

                            </div>

                        </div>

                    </article>

                </main>

                {# Боковая колонка 1  #}
                <aside>

                    {% if question.is_pay %}
                        {% include 'entry/generic/consult_block.html' with item=question.consult.first %}
                    {% endif %}

                    {% if rating.count and not question.reply_count %}
                        {% include 'entry/generic/lawyer_rate.html' with items=rating %}
                    {% endif %}

                </aside>

            </div>

            <div class="row gradient">

                {# Основная часть — ответы #}
                <main>
                    {# Ответы #}
                    {% if question.reply_count %}

                        <div class="row">
                            <h3 class="answer-list-head">Ответы экспертов
                                {% if question.reply_count %}<span class="answer__counter" id="answers_counter"
                                                                   itemprop="answerCount">{{ question.reply_count }}</span>{% endif %}
                            </h3>
                        </div>

                        {% for answer in answers %}
                            {% include 'entry/generic/answer_item.html' with item=answer %}
                        {% endfor %}

                    {% endif %}

                    <div class="row mt-5">

                        <div class="l-col"></div>

                        <div class="r-col">

                            <form>
                                <div class="form-group">
                                    <label for="reply">Ответить:</label>
                                    <textarea class="form-control" id="reply" rows="10"
                                              placeholder="Введите ваш ответ…"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm">Ответить</button>
                                    <span class="ml-3 normal"><a href="#">
                                        <i class="mr-2 icon-folder"></i>Прикрепить файлы</a></span>
                                </div>
                            </form>

                        </div>
                    </div>

                </main>

                {# Боковая колонка 2  #}
                <aside>

                    {% if rating.count and question.reply_count %}
                        {% include 'entry/generic/lawyer_rate.html' with items=rating %}
                    {% endif %}

                </aside>

            </div>

        </div>
    </div>
    {% comment %}

    <footer class="question-footer">
        {# Файлы #}
        {#% include 'questions/snippets/files.html' with files=question.files.all %#}
        {% with rubrics=question.rubrics.all %}
            {% if rubrics|length %}
                <nav class="question-rubrics"><span>Рубрики:</span>{% for rubric in rubrics %}
                    <a href="{{ rubric.get_absolute_url }}"
                       class="question-rubrics_link"
                       title="Показать все вопросы в рубрике: {{ rubric }}"
                       rel="tag category">{{ rubric }}</a>
                {% endfor %}</nav>{% endif %}
        {% endwith %}
    </footer>

    <hr>

    <footer class="actions">
        <ul class="action-list">
            <li class="action-item">
                <a href="#" class="action-link" data-handler="show_answer_form"
                   data-href="{% url 'action' %}" data-on_question="{{ question.pk }}">Ответить</a>
            </li>
            <li class="action-item">
                {#% include 'questions/snippets/comment_action.html' with count=question.comment_count id=question.pk %#}
            </li>
            <li class="action-item">
                <a href="#" class="action-link">Отметить вопрос как…</a>
            </li>
        </ul>
        <div class="additional-content">
            <div id="answer-form"></div>
            <div id="comments-{{ question.pk }}"></div>
        </div>
    </footer>

    {# Ответы #}

        <section class="section section_answers">
            <header class="section-header">
                <h3>Ответы <span class="section-header__counter" id="answers_counter"
                                 itemprop="answerCount">{{ question.answer_count }}</span></h3>
            </header>
            <div id="answers">
                <ul class="answer-list">
                    {% if answers|length %}{% for answer in answers %}
                        {#% include 'questions/snippets/answer.html' with answer=answer %#}
                    {% endfor %}{% endif %}
                </ul>
            </div>
        </section>
{% endcomment %}
{% endblock %}
