<div id="answer_block">
    <div id="form">
        <div class="form-group">
            <label for="reply" class="h6 mb-2">title</label>
            <textarea class="form-control" v-model="content" :class="{'is-invalid': error_fields.content }" id="reply"
                      rows="5" placeholder="Мой ответ…"></textarea>
            <span class="invalid-feedback" v-if="error_fields.content">error_fields.content </span>
        </div>
        <div class="form-group">
            <button @click="save" class="btn btn-primary">Отправить</button>
            <span class="ml-3 normal"><a href="#"><i class="mr-2 icon-folder"></i>Прикрепить файлы</a></span>
        </div>
    </div>

    <div class="row question-page_gradient">
        <div class="question-page_main-part">
            <div class="row">
                <h3 class="answer-list-head" id="div-id">Ответы юристов
                        (<a href="javascript:void(0);" @click="full_tree = !full_tree">{{ tree_link_name }}</a>)
                    <span class="d-none answer__counter" itemprop="answerCount">2</span>
                </h3>
            </div>


            <div name="x" v-for="answer_data in answers"
                 role="answer"
                 :name="answer_data.id"
                 :ref="answer_data.id"
                 :data-answer_id="answer_data.id"
                 :data-thread="answer_data.thread"
                 class="answer entry"
                 :class="{'answer-push': answer_data.parent_id }"
                 v-if="is_show_comment(answer_data.id)">

                <hr class="my-4"/>

                <header class="answer-header">
                    <div class="question-page_l-col">
                        <a class="answer-header_photo" :href="answer_data.author.url">
                            <img :src="answer_data.author.info.photo" :alt="answer_data.author.full_name" />
                        </a>
                    </div>


                    <div class="question-page_r-col">
                        <h6 class="mb-0" itemprop="name">
                            <a :href="answer_data.author.url">{{ answer_data.author.full_name }}</a>
                        </h6>


                        <div class="normal text-muted" v-if="!answer_data.parent_id">{{ answer_data.author.info.ur_status }}, {{ answer_data.author.city.name}}</div>

                        <div class="answer-header_medal mt-3" v-if="!answer_data.parent_id">
                            <span class="item" title="Рейтинг эксперта">
                                <i class="icon-star"></i>
                                <span class="v">{{ answer_data.author.stat.rating }}</span>
                            </span>
                            <span class="item" title="Стаж" v-if="0">
                                <i class="icon-medal"></i>
                                <span class="v">охуеть сколько лет</span>
                            </span>
                            <span class="item" title="Всего консультаций" v-if="0">
                                <i class="icon-forum"></i>
                                <span class="v">дохуя</span>
                            </span>
                        </div>

                    </div>

                </header>


                <div class="row">

                    <div class="question-page_l-col">
                        <time class="subtitle d-block mt-1" itemprop="dateCreated" :datetime="answer_data.pub_date_c">{{ answer_data.pub_date }}</time>
                        <span class="d-block">№ {{ answer_data.id }}</span>
                    </div>

                    <div class="question-page_r-col content">
                        <div class="text" itemprop="text" v-html="answer_data.content">
                            <div class="signature" v-html="answer_data.author.signature"></div>
                        </div>
                    </div>
                </div>


                <footer class="answer-footer row">

                    <div class="question-page_r-col ml-auto d-flex align-items-center justify-content-between flex-column flex-sm-row">

                        <div class="answer-footer-action normal align-self-start align-self-md-center">

                            <a href="#">Дополнительный вопрос</a>

                        </div>

                        <div class="align-self-end mt-3 mt-sm-0" v-if="!answer_data.parent_id">
                            <div class="answer-like">
                                <div class="answer-like-sign dropdown">Ответ полезен?</div>
                                <div class="answer-like-block">
                                    <i class="icon-dislike order-1" v-if="answer_data.is_can_like" @click="to_dislike(answer_data.id)"></i>
                                    <i class="icon-like order-3" v-if="answer_data.is_can_like" @click="to_like(answer_data.id)"></i>
                                    <span class="order-2"
                                          :class="{'text-success': answer_data.like_count>0, 'text-danger': answer_data.like_count<0}">
                                        {{ answer_data.like_count }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-none question-page_r-col ml-auto mt-4"></div>
                </footer>

            </div>
        </div>


        <aside class="question-page_aside-part">
            <h4 class="mb-4">Юристы ответившие на этот вопрос:</h4>

            <div class="lawyer-list">
                <div v-for="answer_data in answers"
                     v-if="!answer_data.parent_id"
                     role="answers_selector"
                     class="lawyer-list_item lawyer-list_item-action"
                     :data-answer_id="answer_data.id"
                     @click="scrollTo(answer_data.id)">
                    <div class="lawyer-list_header">
                        <span class="ph">
                            <img :src="answer_data.author.info.pic" :alt="answer_data.author.full_name">
                        </span>
                        <div class="nm">{{ answer_data.author.full_name }}</div>
                    </div>
                    <p class="lawyer-list_body"> {{ answer_data.short_content }} </p>
                </div>
            </div>

        </aside>


    </div>


</div>