<article class="question-item">
    <div class="row">

        <div class="l-col subtitle pt-2 mb-3">{{ review.like.date|date:"j M Y G:i" }}</div>

        <h5 class="r-col mb-0 mb-lg-3">
            <a target="_blank"
               href="{% url 'question:detail' review.like.entry.answer.on_question.pk %}">{{ review.like.entry.answer.on_question.title|safe }}</a>
        </h5>

        <div class="l-col pt-lg-1 mb-3">
            <span class="d-lg-block">№ {{ review.like.entry.answer.on_question.pk }}</span>
            <span class="d-lg-block pl-1">{{ review.like.user.city.name }}</span>
        </div>

        <div class="r-col">
            <h6>{{ review.like.user.get_name }}</h6>
            <p>{{ review.review|safe }}</p>
        </div>

    </div>
    <hr class="mb-4">
</article>