{% load cropping %}
<div class="lawyer-list">
    <h5 class="consult-state {{ item.status }}">{{ item.get_status_display }}</h5>
    <p class="subtitle">Цена консультации</p>
    <p class="cost rub">{{ item.cost }}</p>

    {% if item.expert  %}
    <p class="subtitle">Консультацию ведёт эксперт</p>
    {% with item.expert as expert %}
        <div class="consult-lawyer">
        <a class="pht" href="{% url 'lawyer_page' expert.pk  %}"><img src="{% cropped_thumbnail expert.info 'photo' %}" /></a>
        <h6><a href="{% url 'lawyer_page' expert.pk  %}">{{ expert }}</a></h6>
    {% endwith %}
    </div>
    {% endif %}
</div>