{% load cropping %}

<div role="answer" data-answer_id="{{ item.pk }}" data-thread="{{ item.thread }}"
     class="answer entry{% if item.id != item.thread %} answer-push{% endif %}">

    <hr class="my-4">

    {# Заголовок ответа #}
    {% if item.author.role > 1 %}{# Если тип учётной записи выше, чем «клиент» #}
        <header class="answer-header{% if item.id != item.thread %} answer-header_photo-small{% endif %}">

            <div class="question-page_l-col">
                <a class="answer-header_photo" href="{% url 'lawyer_page' item.author_id %}">
                    <img src="{% include 'account/generic/pic.html' with item=item.author %}" alt="{{ item.author }}"/>
                </a>
            </div>

            {# Имя, статус, медали #}
            <div class="question-page_r-col">

                {# Имя автора ответа #}
                <h6 class="mb-0" itemprop="name">
                    <a href="{% url 'lawyer_page' item.author_id %}">{{ item.author }}</a>
                </h6>

                {# Статус, только для юристов #}
                {% if item.author.role > 1 %}
                    <div class="normal text-muted"
                    >{{ item.author.info.status|default:item.author.get_role_display }}, {{ item.author.city.name_ru }}</div>
                {% endif %}

                {# Медали #}
                {% if item.id == item.thread %}
                    <div class="answer-header_medal mt-3">
                        <span class="item" title="Рейтинг эксперта"><i class="icon-star"></i><span
                                class="v">{{ item.author.rating.month_rate }}</span></span>
                        <span class="item" title="Стаж"><i class="icon-medal"></i><span class="v">12,6 лет</span></span>
                        <span class="item" title="Всего консультаций"><i class="icon-forum"></i><span
                                class="v">57345</span></span>
                        <!--br><span class="item" title="Общаться с юристом в чате"><i class="icon-message_bubble"></i>
                            <a class="v" href="#">Задать вопрос</a></span-->
                    </div>
                {% endif %}
            </div>

        </header>
    {% endif %}

    {# Подзаголовок: дата, номер, текст #}
    <div class="row">

        <div class="question-page_l-col">
            <time class="subtitle d-block mt-1" itemprop="dateCreated"
                  datetime="{{ item.pub_date|date:"c" }}">{{ item.pub_date|date:"j M Y G:i" }}</time>
            <span class="d-block">№ {{ item.id }}</span>
            {% if item.author.role == 1 %}<span class="d-block">{{ item.author.city.name_ru }}</span>{% endif %}
        </div>

        <div class="question-page_r-col content">

            {% if item.author.role == 1 %}
                <h6 class="author-name mb-2" itemprop="name">{{ item.author.get_full_name }}</h6>
            {% endif %}

            <div class="text" itemprop="text">{{ item.html_content|safe }}</div>

            {# Файлы #}
            {% if item.files.all|length %}
                <div class="alert alert-secondary">
                    {% for file in item.files.all %}
                        <p class="file-list-item"><a target="_blank"
                                                     href="/storage/{{ file.file }}">{{ file.get_basename }}</a></p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if not user.is_authenticated or user.role == 1 %}
            <div class="normal">
                <a class="text-success" href="{% url "ask_question" %}">Задать похожий вопрос</a>
            </div>
            {% endif %}

        </div>

    </div>

    {# Футтер: лайки/дизлайки #}
    <footer class="answer-footer row">

        <div class="question-page_r-col ml-auto d-flex align-items-center justify-content-between flex-column flex-sm-row">

            <div class="answer-footer-action normal align-self-start align-self-md-center">
                {% if 1 and item.author.role > 1 %}
                    <a href="#">Дополнительный вопрос</a>
                    <!--button type="button" class="btn btn-sm btn-primary">Дополнительный вопрос<i
                            class="icon-message_bubble ml-2"></i></button-->
                {% endif %}
            </div>

            <div class="align-self-end mt-3 mt-sm-0">
                {% include 'entry/generic/answer_footer_like.html' %}
            </div>

        </div>

        <div class="d-none question-page_r-col ml-auto mt-4">
            {% include 'entry/generic/form_reply.html' with on_question=item.on_question_id parent=item.id %}
        </div>

    </footer>

</div>