{% load markdown %}
{% load cropping %}

<div class="answer">

    <header class="answer-header row">

        <div class="l-col">
            <a class="answer-header-photo" href="{% url 'lawyer_page' item.author.pk %}">
                <img src="{% cropped_thumbnail item.author.info 'pic' %}" alt="{{ item.author }}"/>
            </a>
        </div>

        <div class="r-col">
            <h5><a href="{% url 'lawyer_page' item.author.pk %}">{{ item.author }}</a></h5>
            <p class="normal text-muted">{{ item.author.info.status|default:'Юрист' }}</p>
            <p class="answer-header-stat">
                <span><i class="icon-star"></i><span>635</span></span>
                <span><i class="icon-medal"></i><span>12,6 лет</span></span>
                <span><i class="icon-forum"></i><span>57345</span></span>
                <!--span><i class="icon-message_bubble"></i><a href="#">Задать вопрос</a></span-->
            </p>
        </div>

    </header>

    <div class="row">

        <div class="l-col">
            <time class="subtitle" itemprop="dateCreated" datetime="{{ item.pub_date|date:"c" }}">
                {{ item.pub_date|date:"SHORT_DATETIME_FORMAT" }}</time>
            <div class="mt-2">№ {{ item.pk }}</div>
        </div>

        <div class="r-col content">
            <!--h5 itemprop="name">{{ item.author.get_full_name }}</h5-->
            <div class="text" itemprop="text">{{ item.content|markdown|safe }}</div>
        </div>

    </div>

    <footer class="answer-footer d-flex justify-content-end">
        <div class="answer-footer-like">
            <!--i class="icon-dislike"></i-->
            <i class="icon-like"></i>
            <span>{{ item.like_count }}</span>

        </div>
    </footer>

</div>