{% load cropping %}

<div class="answer entry{% if push %} answer-push{% endif %}">

    <hr class="my-4">

    {# Заголовок ответа #}
    {% if item.author.role > 1 %}{# Если тип учётной записи выше, чем «клиент» #}

        <header class="answer-header{% if push %} answer-header_photo-small{% endif %}">

            <div class="question-page_l-col">
                {% if item.author.info.orig %}{# Если есть фото #}
                    <a class="answer-header_photo" href="{% url 'lawyer_page' item.author.pk %}">
                        <img src="{% cropped_thumbnail item.author.info 'pic' %}" alt="{{ item.author }}"/>
                    </a>
                {% endif %}
            </div>

            {# Имя, статус, медали #}
            <div class="question-page_r-col">

                {# Имя автора ответа #}
                <h5 class="mb-1" itemprop="name">
                    <a href="{% url 'lawyer_page' item.author.pk %}">{{ item.author }}</a>
                </h5>

                {# Статус, только для юристов #}
                {% if item.author.role > 1 %}
                    <div class="normal mb-1 text-muted d-none d-sm-block">{{ item.author.info.status|default:item.author.get_role_display }}</div>
                {% endif %}

                {# Медали #}
                {% if not push %}
                    <div class="answer-header_medal mb-2">
                        <span class="item" title="Рейтинг эксперта"><i class="icon-star"></i><span class="v">635</span></span>
                        <span class="item" title="Стаж"><i class="icon-medal"></i><span class="v">12,6 лет</span></span>
                        <span class="item" title="Всего консультаций"><i class="icon-forum"></i><span
                                class="v">57345</span></span>
                        <!--br><span class="item" title="Общаться с юристом в чате"><i class="icon-message_bubble"></i>
                            <a class="v" href="#">Задать вопрос</a></span-->
                    </div>
                {% endif %}
            </div>

        </header>
    {% endif %}

    {# Подзаголовок: дата, номер, текс #}
    <div class="row">

        <div class="question-page_l-col">
            <time class="subtitle" itemprop="dateCreated" datetime="{{ item.pub_date|date:"c" }}">
                {{ item.pub_date|date:"SHORT_DATETIME_FORMAT" }}</time>
            <br><span class="mt-2">№ {{ item.pk }}</span>
            <br>
        </div>

        <div class="question-page_r-col content">

            {% if item.author.role == 1 %}
                <h5 class="author-name mb-2" itemprop="name">
                    {{ item.author.get_full_name }}
                </h5>
            {% endif %}

            <div class="text" itemprop="text">{{ item.html_content|safe }}</div>

        </div>

    </div>

    {# Футтер: лайки/дизлайки #}
    <footer class="answer-footer row">

        <div class="question-page_l-col">&nbsp;</div>

        <div class="question-page_r-col d-flex align-items-center justify-content-between">

            <div class="answer-footer-action normal">
                <a href="#">Ответить</a>
            </div>

            <div class="answer-footer-like">
                {% if item.author.role > 1 %}
                    <span class="answer-footer-like-sign dropdown">
                        {% with item.get_review as review %}{% if review %}
                            <a href="#">Читать отзыв клиента</a>
                            {% include 'entry/generic/review_read.html' with item=item.get_review %}
                        {% else %}
                            Ответ полезен?
                            {% include 'entry/generic/review_add.html' with item=item.get_review %}
                        {% endif %}{% endwith %}
                    </span>
                    <div class="answer-footer-like-block">
                        <i class="icon-dislike"></i>
                        <span class="{% if item.like_count < 0 %}dislike{% elif item.like_count > 0 %}like{% endif %}">
                {{ item.like_count }}</span>
                        <i class="icon-like"></i>
                    </div>
                {% else %}
                    <span class="answer-footer-like-sign">Дополнительный вопрос</span>
                {% endif %}

            </div>

        </div>

    </footer>

    {# Форма ответа на вопрос #}
    <footer class="row d-none">
        <div class="l-col"></div>
        <div class="r-col">
            {% include 'entry/generic/form_reply.html' with on_question=item.on_question.pk parent=item.pk %}
        </div>
    </footer>

</div>


{% if item.children.count %}
    {% for answer in item.children %}
        {% include 'entry/generic/answer_item.html' with item=answer push=True %}
    {% endfor %}
{% endif %}