{% load cropping %}
<div class="lawyer-list">
    <h4>Лучшие эксперты</h4>
    {% for item in items %}
        <div class="lawyer-list-item">
            <div class="lawyer-list-item-header">
                <img src="{% cropped_thumbnail item.user.info 'pic' %}" alt="{{ item.user }}" />
                <a href="{% url 'lawyer_page' item.user.pk  %}">{{ item.user }}</a>
            </div>
            <p class="lawyer-list-item-about">{{ item.user.info.status|default:"" }}</p>
        </div>
    {% endfor %}
</div>