{% load cropping %}
<div class="lawyer-list">
    {% for item in items %}
        <div class="lawyer-list_item">
            <div class="lawyer-list_header">
                <a class="ph" href="{% url 'lawyer_page' item.user.pk %}">
                    <img src="{% cropped_thumbnail item.user.info 'pic' %}" alt="{{ item.user }}"/>
                </a>
                <div class="nm">
                    <a href="{% url 'lawyer_page' item.user.pk %}">{{ item.user }}</a>
                </div>
            </div>
            <p class="lawyer-list_body">{{ item.user.info.status|default:"" }}</p>
        </div>
    {% endfor %}
</div>