{% load cropping %}

<article id="question-{{ item.pk }}" class="question-item">

    <div class="row">

        <div class="l-col subtitle pt-2 mb-3">{{ item.pub_date|date:"j M Y G:i" }}</div>

        <h5 class="r-col mb-0 mb-lg-3">
            <a href="{% url 'question:detail' item.pk %}">{{ item.title }}</a>
        </h5>

        <div class="l-col pt-lg-1 mb-3">
            <span class="d-lg-block">№ {{ item.pk }}</span>
            <span class="d-lg-block pl-1">{{ item.author.get_short_name }}</span>
            <span class="d-lg-block pl-1">{{ item.author.city.name }}</span>
        </div>

        <p class="r-col large">{{ item.content|safe|truncatechars:192 }}</p>

        {# Ответы #}
        {% if show_answers and item.reply_count %}
            <div class="answer offset-md-3">
                {% with item.get_answers as answers %}
                    <div class="answer-header">
                        <div class="usr">
                            {% for a in answers %}
                                {% if a.author.info.orig %}
                                    <a href="{% url 'lawyer_page' a.author_id %}"><img
                                            src="{% include 'account/generic/pic.html' with item=a.author %}"
                                            alt="{{ a.author }}"/></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            {% if item.reply_count > 1 %}
                                <a href="{% url 'question:detail' item.pk %}">{{ item.reply_count }} ответа</a>
                            {% else %}
                                <a href="{% url 'lawyer_page' answers.0.author_id %}">{{ answers.0.author }}</a><br>
                                <span class="text-muted">{{ answers.0.author.city.name_ru }}</span>
                            {% endif %}
                        </div>

                    </div>
                    <p>{{ answers.last.html_content|safe|truncatechars:160 }}</p>
                {% endwith %}
            </div>
        {% else %}
            <div class="normal col offset-md-3">
                <a href="{% url 'question:detail' item.pk %}">{{ item.reply_count }} ответа</a>
            </div>
        {% endif %}

    </div>

</article>
<hr>
