{% load cropping %}

<article id="question-{{ item.pk }}">
    <div class="date">{{ item.pub_date|date:"SHORT_DATETIME_FORMAT" }}</div>
    <h6><a href="{% url 'question:detail' item.pk %}">{{ item.title }}</a></h6>

    <div class="number">
        <span>№ {{ item.pk }}</span><br>
        <span>{{ item.author.get_short_name }}</span><br>
        <span>{{ item.author.info.city.name }}</span>
    </div>
    <div class="content">{{ item.html_content|safe }}</div>

    <div class="col-md-3"></div>
    <div class="answer">
        <div class="answer-header">
            <div class="usr">
                {% for a in item.answers.all %}
                    {% if a.author.info.orig %}
                    <a href="{% url 'lawyer_page' a.author.pk %}">
                        <img src="{% cropped_thumbnail a.author.info 'pic' %}" alt="{{ a.author }}"/></a>
                    {% endif %}
                {% endfor %}
            </div>
            <!--div>
                <a href="#">Бодылев Аркадий Олегович</a><br>
                <span class="text-muted">Волгоград</span>
            </div-->
            <div>
                <a href="{% url 'question:detail' item.pk %}">{{ item.reply_count }} ответа</a>
            </div>
        </div>
        <p>{{ item.answers.last.html_content|safe|truncatechars:160 }}</p>
    </div>
</article>
<hr>
