<div class="dropdown-menu review-modal" style="display: block;">
    <span class="dropdown-menu-close icon-close"></span>
    <form class="review-modal-dialog">
        <div class="review-modal-header like">
            <div class="review-modal-header-inner">
                <h6 class="review-modal-title">Оценка принята! Пожалуйста, напишите отзыв об ответе юриста.</h6>
            </div>
        </div>
        <div class="form-group review-modal-text">
            <textarea type="email" rows="7" class="form-control" placeholder="Моё мнение…"></textarea>
            <button type="submit" class="btn btn-primary btn-lg">Написать</button>
        </div>
    </form>
</div>