{% extends 'front/base.html' %}
{% load static %}

{% block content %}

    <section class="blue -container" style >
        <div class="win-round mt-5 -col-md-8 -card -mx-auto -p-3 rec" style="width: 770px;">
            
            <h2 class="logo mb-3">Консультация юриста</h2>

            <p class="lead mb-4">Задайте вопрос, что бы получить профессиональную юридическую консультацию
                от топовых юристов Рунета.</p>
            <router-view></router-view>

        </div>

    </section>

{% endblock %}

{% block block_js %}
<script src='{% static "ask_question.js" %}'></script>
{% endblock %}