{% extends 'front/base.html' %}
{% load static %}
{% load markdown %}

{% block content %}

    {# Хедер страницы вопроса #}
    {% include 'front/generic/header_question.html' with bg_class='bg-1' %}

    {# Содержание страницы вопроса #}
    <div class="question-page">

        {# Вопрос и правая колонка напротив вопроса  #}
        <div class="row">

            {# Хлебные крошки #}
            <nav aria-label="breadcrumb" class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'questions:list' %}">Консультации юриста</a></li>
                    <li class="breadcrumb-item active">Вопрос №{{ question.id }}</li>
                </ol>
            </nav>

            {# Центральная часть — вопрос #}
            <div class="question-page_main-part">

                {# Вопрос #}
                <article id="question-{{ question.id }}" class="entry" itemscope itemtype="http://schema.org/Question">

                    {% for message in mess %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {% autoescape off %}
                                {{ message }}
                            {% endautoescape %}
                        </div>
                    {% endfor %}


                    {# Заголовок #}
                    <h1 class="question-head" itemprop="name">{{ question.title }}</h1>

                    {# Инфо, текст #}
                    <div class="row">

                        <div class="question-page_l-col">
                            <time class="subtitle d-block mt-1 mb-2" datetime="{{ question.pub_date|date:"c" }}"
                                  itemprop="dateCreated">{{ question.pub_date|date:"j M Y G:i" }}</time>
                            <span class="d-block">№ {{ question.id }}</span>
                            <span>{{ question.author.city.name }}</span>
                        </div>

                        <div class="question-page_r-col content">

                            {# Имя #}
                            <h5 class="my-3 mb-lg-1 mt-lg-0"
                                itemprop="name" data-user_id="{{ question.author.pk }}">{{ question.author.get_name }}</h5>

                            {# Текст #}
                            <div class="text-lead" itemprop="text">{{ question.html_content|safe }}</div>

                            {# Файлы #}
                            {% if question.files.all|length %}
                                <div class="files brick">
                                    {% for file in question.files.all %}
                                        <div class="file-item"><a
                                                href="/storage/{{ file.file }}">{{ file.get_basename }}</a></div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <br class="my-4">

                            {# Блок ответить на вопрос #}
                            {% if question.is_pay %}
                                {# Если консультация платная #}
                                {% include 'advice/advice_question_answer_block.html' %}
                            {% else %}
                                {#% include 'question/question_answer_block.html' %#}
                            {% endif %}

                            <hr class="mb-4 mt-5">

                            {# Здесь ошибка VUE #}
                            {% include 'front/generic/yandex-share.html' %}

                            {# Рубрики #}
                            {% if question.rubrics.count %}
                                <br>

                                <p class="rubrics">{% for rubric in question.rubrics.all %}
                                    <span class="rubric-item"><a
                                            href="{{ rubric.get_absolute_url }}">{{ rubric }}</a></span>
                                {% endfor %}</p>
                            {% endif %}

                        </div>

                    </div>

                </article>

            </div>

            {# Боковая колонка 1  #}
            <aside class="question-page_aside-part">

                {% if question.is_pay %}
                    {# Если консультация платная #}
                    {% include 'advice/advice_question_aside_block.html' with advice_context=advice_context %}

                {% elif rating.count and not question.reply_count %}
                    {% include 'entry/generic/lawyer_best_small.html' with items=rating %}
                {% endif %}

            </aside>

        </div>

        {# Если есть ответы  #}
        {% if question.reply_count %}
            <div class="row gradient">

                {# Основная часть — ответы #}
                <div class="question-page_main-part">

                    {# Ответы #}
                    <div class="row">
                        <h3 class="answer-list-head">Ответы экспертов
                            <span class="answer__counter" itemprop="answerCount">{{ question.reply_count }}</span>
                        </h3>
                    </div>

                    {% for answer in answers %}
                        {% include 'entry/generic/answer_item.html' with item=answer %}
                    {% endfor %}

                </div>

                {# Боковая колонка 2  #}
                <aside class="question-page_aside-part">

                    {% if rating.count and question.reply_count %}
                        <h4 class="mb-5">Лучшие эксперты</h4>
                        {% include 'entry/generic/lawyer_best_small.html' with items=rating %}
                    {% endif %}

                </aside>

            </div>
        {% endif %}

        {% comment %}<div class="row d-none">

                <main>

                    <div class="row">

                        <div class="l-col"></div>

                        <div class="r-col">

                            <form>
                                <div class="form-group">
                                    <label for="reply">Ответить:</label>
                                    <textarea class="form-control" id="reply" rows="10"
                                              placeholder="Введите ваш ответ…"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm">Ответить</button>
                                    <span class="ml-3 normal"><a href="#">
                                        <i class="mr-2 icon-folder"></i>Прикрепить файлы</a></span>
                                </div>
                            </form>

                        </div>
                    </div>

                </main>

            </div>{% endcomment %}

    </div>

{% endblock %}
