{% extends 'front/base.html' %}
{% load static %}
{% load markdown %}

{% block title %}{{ question.title }} — вопрос №{{ question.id }} на Мойюрист.онлайн{% endblock %}

{% block og_meta %}
    <meta property="og:title" content="{{ question.title }} — вопрос №{{ question.id }} на Мойюрист.онлайн"/>
    <meta property="og:description"
          content="Вопрос №{{ question.id }} на Мойюрист.онлайн, ответов: {{ question.reply_count }}.{% if question.rubric %} Тема «{{ question.rubric }}».{% endif %}"/>
    <meta property="og:image" content="{% static 'img/logo_sq.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ SITE_URL }}{{ question.get_absolute_url }}"/>
{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ SITE_URL }}{{ question.get_absolute_url }}">
    <meta name="robots" content="index,follow">
{% endblock %}

{% block content %}

    {# Хедер страницы вопроса #}
    {% include 'question/section/header_question.html' with bg_class='bg-1' %}


    {# Хлебные крошки #}
    <div class="question-page_container">
        <div class="row">
            <nav class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'questions:list' %}">Вопросы</a></li>
                    <li class="breadcrumb-item active"><a
                            href="{{ question.rubric.get_absolute_url }}">{{ question.rubric }}</a></li>
                </ol>
            </nav>
        </div>
    </div>

    <router-view>
    {# Содержание страницы вопроса #}
    <div class="question-page_container">
        {# Вопрос и правая колонка напротив вопроса  #}
        <div class="row pb-4">

            {# Центральная часть — вопрос #}
            <div class="question-page_main-part">

                {# Вопрос #}
                <article id="question-{{ question.id }}" class="entry" itemscope itemtype="http://schema.org/Question">

                    {% for message in mess %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {% autoescape off %}
                                {{ message }}
                            {% endautoescape %}
                        </div>
                    {% endfor %}

                    <h1 class="h2 mb-5" itemprop="name">{{ question.title }}</h1>

                    <div class="row">
                        <div class="question-page_l-col">
                            <time class="subtitle d-block mt-1" datetime="{{ question.pub_date|date:"c" }}"
                                  itemprop="dateCreated">{{ question.pub_date|date:"j M Y G:i" }}</time>
                            <span class="d-block">№ {{ question.id }}</span>
                            <span class="d-block">{{ question.author.city.name }}</span>
                        </div>

                        <div class="question-page_r-col mb-4">
                            <h5 itemprop="author"
                                itemscope itemtype="http://schema.org/Person"
                                class="my-3 mb-lg-1 mt-lg-0"
                                data-user_id="{{ question.author.pk }}">
                                <span itemprop="name">{{ question.author.get_name }}</span>
                            </h5>
                            <div class="lead" itemprop="text">{{ question.html_content|safe }}</div>

                        </div>
                    </div>

                </article>

            </div>

        {# Боковая колонка 1  #}
        <aside class="question-page_aside-part pt-3">
            <div id="advice_status"></div>
        </aside>


        </div>

        {# Если есть ответы  #}
        <div id="answer">

                <div class="row question-page_gradient py-5">
                    <div class="question-page_main-part">
                        {# Основная часть — ответы #}
                        {# Ответы #}
                        <div class="row">
                            <h3 class="answer-list-head col offset-lg-1">
                                Ответы юристов
                                <span class="answer__counter" itemprop="answerCount">{{ question.reply_count }}</span>
                            </h3>
                        </div>
                        {% for answer in answers %}
                            {% include 'entry/generic/answer_item.html' with item=answer %}
                        {% endfor %}

                    </div>
                    <aside class="question-page_aside-part">&nbsp;</aside>
                </div>

        </div>

    </div>
    </router-view>

    <div class="question-page_container">
        {% if similar_questions %}
            <div class="row question-page_gradient py-5">
                <div class="question-page_main-part">
                    <div class="row">
                        <h3 class="answer-list-head col offset-lg-1">Похожие вопросы</h3>
                    </div>
                    <hr>
                    {% for item in similar_questions %}
                        {% include 'question/generic/question_item_in_list.html' with item=item show_answers=False %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    {#% include 'question/section/not_found_answer.html' %#}

{% endblock %}

{% block block_js %}
    <script src='{% static "answer_question.js" %}'></script>
    {% if user.role != 2 %}
        {% include 'front/widgets/consult.html' %}
    {% endif %}

{% endblock %}
