{% extends 'front/base.html' %}
{% load static %}
{% load markdown %}

{% block title %}{{ question.title }} — вопрос №{{ question.id }} на Мойюрист.онлайн{% endblock %}

{% block og_meta %}
    <meta property="og:title" content="{{ question.title }} — вопрос №{{ question.id }} на Мойюрист.онлайн"/>
    <meta property="og:description"
          content="Вопрос №{{ question.id }} на Мойюрист.онлайн, ответов: {{ question.reply_count }}.{% if question.rubric %} Тема «{{ question.rubric }}».{% endif %}"/>
    <meta property="og:image" content="{% static 'img/logo_sq.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ SITE_URL }}{{ question.get_absolute_url }}"/>
{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ SITE_URL }}{{ question.get_absolute_url }}">
    <meta name="robots" content="index,follow">
{% endblock %}

{% block content %}

    {# Хедер страницы вопроса #}
    {% include 'question/section/header_question.html' with bg_class='bg-1' %}

    {# Хлебные крошки #}
    <div class="question-page_container">
        <div class="row">
            <nav aria-label="breadcrumb" class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'questions:list' %}">Вопросы</a></li>
                    <li class="breadcrumb-item active">
                        {% if question.rubric %}
                            <a href="{{ question.rubric.get_absolute_url }}">{{ question.rubric }}</a></li>
                        {% else %}
                            Общие вопросы
                        {% endif %}
                </ol>
            </nav>
        </div>
    </div>

    {# Содержание страницы вопроса #}
    <div class="question-page_container">

        {# Вопрос и правая колонка напротив вопроса  #}
        <div class="row">

            {# Центральная часть — вопрос #}
            <div class="question-page_main-part">

                {# Вопрос #}
                <article id="question-{{ question.id }}" class="entry" itemscope itemtype="http://schema.org/Question">

                    {% for message in mess %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {% autoescape off %}
                                {{ message }}
                            {% endautoescape %}
                        </div>
                    {% endfor %}

                    {# Заголовок #}
                    <h1 class="question-head h2 mt-4" itemprop="name">{{ question.title }}</h1>

                    {# Инфо, текст #}
                    <div class="row">

                        <div class="question-page_l-col">
                            <time class="subtitle d-block mt-1" datetime="{{ question.pub_date|date:"c" }}"
                                  itemprop="dateCreated">{{ question.pub_date|date:"j M Y G:i" }}</time>
                            <span class="d-block">№ {{ question.id }}</span>
                            <span class="d-block">{{ question.author.city.name }}</span>
                        </div>

                        <div class="question-page_r-col content">

                            {# Имя #}
                            <h5 itemprop="author" itemscope itemtype="http://schema.org/Person"
                                class="my-3 mb-lg-1 mt-lg-0" data-user_id="{{ question.author.pk }}"><span
                                    itemprop="name">{{ question.author.get_name }}</span></h5>

                            {# Текст #}
                            <div class="text-lead" itemprop="text">{{ question.html_content|safe }}</div>

                            {# Файлы #}
                            {% if question.files.all|length %}
                                <div class="alert alert-secondary">
                                    {% for file in question.files.all %}
                                        <p class="file-list-item">
                                            <a target="_blank"
                                               href="/storage/{{ file.file }}">{{ file.get_basename }}</a>
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% comment %}
                            {# Блок ответить на вопрос #}
                            {% if question.is_pay %}
                                {# Если консультация платная #}
                                {% include 'advice/advice_question_answer_block.html' %}
                            {% elif user.role == 2 %}
                                {#% include 'question/question_answer_block.html' %#}
                                {% if not is_my_answer %}{% endif %}
                            {% endif %}
                            {% endcomment %}

                            <hr class="my-4">

                            {# Яндекс share кнопки #}
                            {#% include 'front/generic/yandex-share.html' %#}

                            {# Рубрики #}
                            {% if question.rubric %}
                                <p class="rubrics-list mt-4">
                                    <span class="rubrics-list-item"><a
                                            href="{{ question.rubric.get_absolute_url }}">{{ question.rubric }}</a></span>
                                </p>
                            {% endif %}

                        </div>

                    </div>

                </article>

            </div>

            {# Боковая колонка 1  #}
            <aside class="question-page_aside-part">

                {% if question.is_pay %}
                    {# Если консультация платная #}
                    {% include 'advice/aside/advice_status.html' with advice_context=advice_context %}

                {% elif lawyers_from_rating.count %}
                    <h4 class="mb-4">Наши эксперты</h4>
                    {% include 'rating/aside/best_lawyers.html' with items=lawyers_from_rating %}
                {% endif %}

            </aside>

        </div>

        {# Если есть ответы  #}
        <div id="answer">
            <router-view>
                <div class="row question-page_gradient">
                    <div class="question-page_main-part">
                        {# Основная часть — ответы #}
                        {% if question.reply_count %}
                            {# Ответы #}
                            <div class="row">
                                <h3 class="answer-list-head">Ответы юристов
                                    <span class="d-none answer__counter"
                                          itemprop="answerCount">{{ question.reply_count }}</span>
                                </h3>
                            </div>

                            {% for answer in answers %}
                                {% include 'entry/generic/answer_item.html' with item=answer %}
                            {% endfor %}
                        {% else %}
                        {% endif %}

                    </div>

                    {# Боковая колонка 2  #}
                    <aside class="question-page_aside-part">

                        {% if question.reply_count %}
                            <h4 class="mb-4">Все ответы экспертов на этот вопрос:</h4>
                            {% include 'question/aside/answer_lawyers_others.html' with items=answers %}
                        {% endif %}


                    </aside>
                </div>
            </router-view>
        </div>

        {% if similar_questions %}
            <div class="row question-page_gradient">
                <div class="question-page_main-part">
                    <div class="row">
                        <h3 class="answer-list-head">Похожие вопросы</h3>
                    </div>
                    <hr>
                    {% for item in similar_questions %}
                        {% include 'question/generic/question_item_in_list.html' with item=item show_answers=False %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>

    {#% include 'question/section/not_found_answer.html' %#}

{% endblock %}

{% block block_js %}
    {#  если не авторизован - не грузить этот скрипт #}
    <script src='{% static "answer_question.js" %}'></script>
{% endblock %}
