{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <section class="header">
        <div>
            <h1>{{ h1 }}</h1>
            <h2>{{ h1 }}</h2>
            <h3>{{ h1 }}</h3>
            <h4>{{ h1 }}</h4>
            <h5>{{ h1 }}</h5>
            <h6>{{ h1 }}</h6>
            <p class="lead">Консультация юриста онлайн. Получить профессиональную юридическую консультацию можно тремя способами:</p>
            <p>Консультация юриста онлайн. Получить профессиональную юридическую консультацию можно тремя способами:</p>
            <p class="subtitle">Консультация юриста онлайн. Получить профессиональную юридическую консультацию можно тремя способами</p>
        </div>
    </section>
{% endblock %}